---
import Button from '@/shared/components/Button.astro';
import Typography from "@/shared/components/ui/Typography.astro"

interface Props {
  preTitle?: string;
  title?: string;
  heading?: string;
  description?: string;
  bgImage?: string;
  hideHeader?: boolean;
  hideFooter?: boolean;
  hideBody?: boolean;
  className?: string;
  buttonText?: string;
  buttonUrl?: string;
  target?: string;
}

const { preTitle, title, heading, description, hideHeader = false, hideFooter = false, hideBody = false, bgImage, className, buttonText, buttonUrl, target="_self" } = Astro.props;
---

<article class=`w-full mx-auto my-14 ${className ? className : ''}`>
  <div class="border bg-black/30 rounded-xl border-primary p-6"
    style={{
      backgroundImage: bgImage ? `url(${bgImage})` : '',
      backgroundSize: 'cover',
      backgroundPosition: 'center',
      backgroundRepeat: 'no-repeat'
    }}>
    {
      !hideHeader && (
        <slot name="slot-header">
          <header class="flex flex-col md:flex-row justify-center md:justify-between mb-4">
            <div class="flex flex-col flex-1 self-end">
              {title && (<Typography tag="p"  className="text-secondary text-xl uppercase" text={title} responsive />)}
            </div>
            <div class="flex-1 border-t-primary border-t mt-3 pt-3 md:border-none flex flex-col justify-between gap-y-3 md:mt-0 md:pt-0">
              {buttonText && buttonUrl && <Button url={buttonUrl} class="text-base lg:text-base self-center md:self-end py-2 text-center" target={target}>{buttonText}</Button>}
              {heading && (<Typography tag="h3" className="mb-4" text={heading} type="primary" responsive />)}
              {description && (<Typography tag="div" className="mb-0" text={description} size="small" />)}
            </div>
          </header>
        </slot>
      )
    }
    {
      !hideBody && (
        <body>
          <slot name="body" />
        </body>
      )
    }
    {
      !hideBody && (
        <footer>
          <slot name="footer" />
        </footer>
      )
    }
  </div>
</article>
