---
import Typography from '@/shared/components/ui/Typography.astro';
const { name, description, avatar, socialMedia, isBox, slug } = Astro.props;

const firstColumnMaxWidth = isBox ? 'max-w-36 max-h-36' : 'max-w-72 max-h-72';
const imgSize = isBox ? 'max-w-32 max-h-32' : 'max-w-64 max-h-64';
const iconSize = isBox ? 36 : 48;
const titleTag = isBox ? 'h3' : 'h1';
---

<div class="flex gap-4 flex-col md:flex-row">
  <div class={firstColumnMaxWidth}>
    <img src={avatar} alt={name} class={`rounded-full ${imgSize} object-cover border-4 border-white`} />
    <div class="mt-4 flex justify-center gap-x-4">
      {socialMedia.map((social: string) => {
        const isFacebook = social.includes('facebook');
        const isTwitter = social.includes('twitter');
        const isInstagram = social.includes('instagram');
        const isLinkedin = social.includes('linkedin');
        const isYoutube = social.includes('youtube');
        const url = !social.includes('http') ? `https://${social}` : social;
        return (
        <a href={url} target="_blank" class="text-white hover:text-primary duration-300">
          {isFacebook && <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width={iconSize} height={iconSize} viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
          <span class="sr-only">Facebook</span>}
          {isTwitter && <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-x" width={iconSize} height={iconSize} viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4l11.733 16h4.267l-11.733 -16z" /><path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" /></svg>
          <span class="sr-only">Twitter</span>}
          {isInstagram && <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width={iconSize} height={iconSize} viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M16.5 7.5l0 .01" /></svg>
          <span class="sr-only">Instagram</span>}
          {isLinkedin && <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width={iconSize} height={iconSize} viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" /><path d="M8 11l0 5" /><path d="M8 8l0 .01" /><path d="M12 16l0 -5" /><path d="M16 16v-3a2 2 0 0 0 -4 0" /></svg>
          <span class="sr-only">Linkedin</span>}
        </a>
      )})}
    </div>
  </div>
  <div class="flex-1">
    {
      slug?.length > 0 ? (
        <a href={slug} class="text-primary hover:text-current focus:text-current text__glowing transition-colors">
          <Typography tag={titleTag} className="mb-4 font-bold uppercase" text={name} responsive />
        </a>
      ) : (
        <Typography tag={titleTag} className="mb-4 font-bold uppercase" text={name} responsive />
      )
    }
    <Typography tag="p" className="mb-4" text={description} responsive />
</div>