---
import { getI18N } from "@/shared/i18n";
import Button from "./Button.astro"
import InputText from '@/shared/components/forms/InputText';
import InputArea from '@/shared/components/forms/InputArea';
import InputRadio from '@/shared/components/forms/InputRadio';
import FormButton from '@/shared/components/forms/FormButton';

interface Props {
  language: string;
  sendText?: string;
  subject: string;
  size?: 'mini' | 'normal';
  hiddenSubject?: boolean;
  uk?: boolean;
}
const page = Astro.request.url
const randomId = Math.random().toString(36).substring(7);
const formId = randomId;
const {language, hiddenSubject, subject = '', sendText, size='normal', uk} = Astro.props
const i18n = getI18N({ language });
---


<button
  id="chatButton"
  class="fixed flex bottom-20 right-5  bg-[#151a36] border border-solid text-white py-3 px-6 rounded-full text-lg cursor-pointer z-50"
>
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
  </svg>
  
  {i18n.POPUP_CONTACT.BUTTON_TITLE}
</button>

<div
  id="contactForm"
  class="fixed bottom-20 right-5 rounded-lg bg-transparent w-85 shadow-lg z-50 opacity-0 transform transition-all duration-300 ease-out max-h-96"
  style="display:none; opacity: 1; transform: translateY(0px);"
>
  
  <div class="bg-white rounded-lg shadow-lg p-6 w-80 relative">
    <button id="closeButton" class="absolute top-2 right-4 text-black text-lg ">
      x
    </button>

    <div class="flex flex-col items-center mb-4">
      <img alt="Company logo" class="w-40 h-40 rounded-full" src="/logo-portico-sport-circular.svg" />
    </div>
    
    <div class="bg-gray-100 p-4 rounded-lg mb-4">
      <p class="text-gray-800">
        {i18n.POPUP_CONTACT.DESCRIPTION_1}
        <br />
        {i18n.POPUP_CONTACT.DESCRIPTION_2}
      </p>
    </div>

    <button id="contactButton" 
    class="bg-blue-900 text-white w-full py-3 uppercase rounded-lg flex items-center justify-center"
    
    >
      
      {i18n.POPUP_CONTACT.BUTTON.LABEL}
    </button>
  </div>
</div>

<div id="formulario" class="fixed inset-0 bg-black bg-opacity-50 z-50" style="visibility:hidden;">

<form class="formulario fixed inset-0 flex-1 rounded-[2%] p-6 bg-black w-[40%] h-min scale-[70%] justify-center items-center m-auto z-50 " id={formId || "contactForm"} >
    <InputText name={i18n.CONTACT_FORM.FORM.NAME.ID} label={i18n.CONTACT_FORM.FORM.NAME.LABEL} placeholder={i18n.CONTACT_FORM.FORM.NAME.PLACEHOLDER} required size={size} />
    <InputText name={i18n.CONTACT_FORM.FORM.EMAIL.ID} label={i18n.CONTACT_FORM.FORM.EMAIL.LABEL} placeholder={i18n.CONTACT_FORM.FORM.EMAIL.PLACEHOLDER} required size={size} />
    <div class="flex flex-col lg:flex-row lg:gap-3">
      <InputText className='flex-1' name={i18n.CONTACT_FORM.FORM.COUNTRY.ID} label={i18n.CONTACT_FORM.FORM.COUNTRY.LABEL} placeholder={i18n.CONTACT_FORM.FORM.COUNTRY.PLACEHOLDER} required size={size} />
      <InputText className='flex-1' name={i18n.CONTACT_FORM.FORM.PHONE.ID} label={i18n.CONTACT_FORM.FORM.PHONE.LABEL} placeholder={i18n.CONTACT_FORM.FORM.PHONE.PLACEHOLDER} required size={size} />
    </div>
    {
      !hiddenSubject ? (
        <InputText name={i18n.CONTACT_FORM.FORM.SUBJECT.ID} label={i18n.CONTACT_FORM.FORM.SUBJECT.LABEL} placeholder={i18n.CONTACT_FORM.FORM.SUBJECT.PLACEHOLDER} value={subject || ''} required size={size} />
      ) : (
        <input type="hidden" name={i18n.CONTACT_FORM.FORM.SUBJECT.ID} value={subject || ''} size={size} />
      )
    }
    <input type="hidden" name={i18n.CONTACT_FORM.FORM.PAGE.ID} value={page} size={size} />
    <InputArea name={i18n.CONTACT_FORM.FORM.MESSAGE.ID} label={i18n.CONTACT_FORM.FORM.MESSAGE.LABEL} placeholder={i18n.CONTACT_FORM.FORM.MESSAGE.PLACEHOLDER} size={size} />
    <InputRadio name={i18n.CONTACT_FORM.FORM.TERMS.ID} label={i18n.CONTACT_FORM.FORM.TERMS.LABEL} linkText={i18n.CONTACT_FORM.FORM.TERMS.LINK_TEXT} linkUrl={i18n.PAGES.PRIVACY.ROUTE.URL} required size={size} />
    <input type="hidden" name="isUk" value={uk ? 'on' : 'off'} size={size} />
    <FormButton language={language} client:visible formId={formId} text={sendText || i18n.CONTACT_FORM.FORM.SEND} termsError={i18n.CONTACT_FORM.ACCEPT_TERMS} size={size} />
    <Button id="closeFormButton" size="lg" class="cursor-pointer"> {i18n.CONTACT_FORM.CLOSE_BUTTON}</Button>  
</form>
</div>


<script>
  let form = document.getElementById("contactForm");
  let button = document.getElementById("chatButton");
  let close = document.getElementById("closeButton");
  let contact = document.getElementById("contactButton");
  let formulario = document.getElementById("formulario");
  let closeForm = document.getElementById("closeFormButton");
  button?.addEventListener("click", () => {
    form.style.display = "block";
  });

  close?.addEventListener("click", () => {
    form.style.display = "none";
  });
  contact?.addEventListener("click", () => {
    formulario.style.visibility = "visible";

    
  })  
  closeForm?.addEventListener("click", () => {
    formulario.style.visibility = "hidden";
    form.style.display = "none";

    
  })
</script>
<style>
    @media (min-width:300px) and (max-width:1024px){
        #chatButton {
            visibility: hidden;
        }
      #formulario {
          display:none;
        }
        #contactForm {
          visibility: hidden;
        }
    }
</style>
