---
import { getI18N } from "@/shared/i18n";
// import CourtItem from "@/shared/components/CourtItem.astro";
import Section from '@/shared/components/Section.astro';
import CarouselImages from '@/shared/components/CarouselImages.astro';
import CardSection from '@/shared/components/CardSection.astro';
import { type CourtItem } from '@/types/types'

const { language } = Astro.props
const i18n = getI18N({ language })

const courts = [{
  title: i18n.COURTS.COURT1.TITLE,
  description: i18n.COURTS.COURT1.DESCRIPTION,
  url: i18n.COURTS.COURT1.URL,
  images: i18n.COURTS.COURT1.IMAGES,
}, {
  title: i18n.COURTS.COURT2.TITLE,
  description: i18n.COURTS.COURT2.DESCRIPTION,
  url: i18n.COURTS.COURT2.URL,
  images: i18n.COURTS.COURT2.IMAGES,
}, {
  title: i18n.COURTS.COURT3.TITLE,
  description: i18n.COURTS.COURT3.DESCRIPTION,
  url: i18n.COURTS.COURT3.URL,
  images: i18n.COURTS.COURT3.IMAGES,
}, {
  title: i18n.COURTS.COURT4.TITLE,
  description: i18n.COURTS.COURT4.DESCRIPTION,
  url: i18n.COURTS.COURT4.URL,
  images: i18n.COURTS.COURT4.IMAGES,
}, {
  title: i18n.COURTS.COURT5.TITLE,
  description: i18n.COURTS.COURT5.DESCRIPTION,
  url: i18n.COURTS.COURT5.URL,
  images: i18n.COURTS.COURT5.IMAGES,
}, {
  title: i18n.COURTS.COURT6.TITLE,
  description: i18n.COURTS.COURT6.DESCRIPTION,
  url: i18n.COURTS.COURT6.URL,
  images: i18n.COURTS.COURT6.IMAGES,
}, {
  title: i18n.COURTS.COURT7.TITLE,
  description: i18n.COURTS.COURT7.DESCRIPTION,
  url: i18n.COURTS.COURT7.URL,
  images: i18n.COURTS.COURT7.IMAGES,
}, {
  title: i18n.COURTS.COURT8.TITLE,
  description: i18n.COURTS.COURT8.DESCRIPTION,
  url: i18n.COURTS.COURT8.URL,
  images: i18n.COURTS.COURT8.IMAGES,
}, {
  title: i18n.COURTS.COURT9.TITLE,
  description: i18n.COURTS.COURT9.DESCRIPTION,
  url: i18n.COURTS.COURT9.URL,
  images: i18n.COURTS.COURT9.IMAGES,
}] as CourtItem[]
---

<Section id={i18n.ROUTES.COURTS.ID} heading={i18n.COURTS.TITLE} subheading={i18n.COURTS.SUBTITLE} className="max-w-none relative">
  <div class="absolute bg-pattern top-0 bottom-0 -z-10 w-full left-0 opacity-5 border-t border-primary" />
  {
    courts.map(({title, description, images, url}, index) => (<CardSection
      title={title}
      description={description}
      className="mb-4 max-w-[1400px]"
    >
      <div class="flex gap-4" slot="body">
        <CarouselImages images={images} />
      </div>
    </CardSection>))
  }
</Section>