---
import { getI18N } from "../i18n/"
import Link from "@/shared/components/Link.astro"
import HeaderLink from "@/shared/components/HeaderLink.astro"
import LogoWhite from "@/shared/components/logos/LogoWhite.astro"
import UEBanner from "@/shared/components/UEBanner.astro"
import UEBanner2 from "@/shared/components/UEBanner2.astro"
import ContactUs from "@/shared/components/ContactUs.astro"

interface Props {
  language: string;
  contactForm?: boolean
}

const { language,contactForm} = Astro.props
const i18n = getI18N({ language })
---
<footer class="bg-footer">
  <div class="mx-auto w-full max-w-screen-xl p-4 px-6 py-6 lg:py-8">
    <div class="mb-6 flex flex-col md:mb-0">
      <a
        href="/"
        class="flex items-center justify-center"
        aria-label={i18n.HEADER.LOGO}
      >
        <LogoWhite class="w-24 md:w-32 lg:w-48" />
      </a>
      <div class="mt-6 flex justify-center gap-x-4">
        <a href="https://www.facebook.com/porticosport#" target="_blank" class="text-white hover:text-primary duration-300">
        </a>
        <a href="https://twitter.com/portico_sport" target="_blank" class="text-white hover:text-primary duration-300">
        </a>
        <a href="https://www.instagram.com/portico.sport" target="_blank" class="text-white hover:text-primary duration-300">
        </a>
        <a href="https://www.linkedin.com/company/portico-sport/" target="_blank" class="text-white hover:text-primary duration-300">
        </a>
      </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center items-center gap-8 md:gap-16">
      <div class="w-full md:w-1/3 flex flex-col justify-center items-center gap-4">
        <div class="mt-6 flex flex-col gap-4">
          <a href="https://www.porticosport.com/uk" target="_blank" class="text-white hover:text-primary duration-300">
            <span>{i18n.PAGES.UK.ROUTE.BREADCRUMB}</span>
          </a>
          <a href="https://www.porticosport.com/padel-court-usa" target="_blank" class="text-white hover:text-primary duration-300">
            <span>{i18n.PAGES.USA.ROUTE.BREADCRUMB}</span>
          </a>
          <a href="https://www.porticosport.com/za" target="_blank" class="text-white hover:text-primary duration-300">
            <span>{i18n.PAGES.ZA.ROUTE.BREADCRUMB}</span>
          </a>
          <a href="https://www.porticosport.com/aus" target="_blank" class="text-white hover:text-primary duration-300">
            <span>{i18n.PAGES.AUS.ROUTE.BREADCRUMB}</span>
          </a>
        </div>
      </div>

      <div class="w-full md:w-1/3 flex flex-col justify-center items-center gap-4">
        <div class="mt-6 flex flex-col gap-4">
          <a href={i18n.PAGES.SECTION_OUTDOOR.ROUTE.URL} class="text-white hover:text-primary duration-300">
            <span>{i18n.PAGES.SECTION_OUTDOOR.ROUTE.LABEL}</span>
          </a>
          <a href={i18n.PAGES.SECTION_INDOOR.ROUTE.URL} class="text-white hover:text-primary duration-300">
            <span>{i18n.PAGES.SECTION_INDOOR.ROUTE.LABEL}</span>
          </a>
          <a href={i18n.PAGES.CUSTOMIZATION.ROUTE.URL} class="text-white hover:text-primary duration-300">
            <span>{i18n.PAGES.CUSTOMIZATION.ROUTE.LABEL}</span>
          </a>
          <a href={i18n.PAGES.TURF.ROUTE.URL} class="text-white hover:text-primary duration-300">
            <span>{i18n.PAGES.TURF.ROUTE.LABEL}</span>
          </a>
          <a href={i18n.PAGES.PADEL_NEWS.ROUTE.URL} class="text-white hover:text-primary duration-300">
            <span>{i18n.PAGES.PADEL_NEWS.ROUTE.LABEL}</span>
          </a>
          {i18n?.PAGES?.FUNDING?.ROUTE?.URL && (
            <a href={i18n.PAGES.FUNDING.ROUTE.URL} class="hover:underline hover:text-primary duration-300">
              {i18n.PAGES.FUNDING.ROUTE.LABEL}
            </a>
          )}
        </div>
      </div>

      <div class="w-full md:w-1/3 flex flex-col justify-center items-center gap-4">
        <UEBanner />
      </div>
      <div class="w-full md:w-1/3 flex flex-col justify-center items-center gap-4">
        <UEBanner2 />
      </div>
    </div>

    <hr class="my-6 border-white/10 sm:mx-auto lg:my-8" />
    <div class="flex flex-col sm:flex sm:items-center sm:justify-between">
      <ul class="flex gap-2 font-medium text-gray-400">
        <li>
          <a href={i18n.PAGES.PRIVACY.ROUTE.URL} class="hover:underline hover:text-primary duration-300">
            {i18n.FOOTER.LEGAL.PRIVACY}
          </a>
        </li>
        <li> | </li>
        <li>
          <a href={i18n.PAGES.COOKIES.ROUTE.URL} class="hover:underline hover:text-primary duration-300">
            {i18n.FOOTER.LEGAL.COOKIES}
          </a>
        </li>
        <li> | </li>
        <li>
          <a href={i18n.PAGES.LEGAL_ADVICE.ROUTE.URL} class="hover:underline hover:text-primary duration-300">
            {i18n.FOOTER.LEGAL.NOTICE}
          </a>
        </li>
        <li> | </li>
        <li>
          <a href={i18n.FOOTER.ETHIC.ROUTE} class="hover:underline hover:text-primary duration-300">
            {i18n.FOOTER.ETHIC.LABEL}
          </a>
        </li>
      </ul>
      <span class="text-sm text-gray-400 sm:text-center">{i18n.FOOTER.DISCLAIMER}</span>
    </div>
  </div>

  {contactForm && <ContactUs language={language} />}

  <HeaderLink
    checkActive={false}
    href="#top"
    class="group fixed bottom-4 right-4 p-4 border rounded-full z-10"
    aria-label={i18n.HEADER.LOGO}
  >
  </HeaderLink>
</footer>

