---
import { getI18N } from "../i18n/"
import Link from "@/shared/components/Link.astro"
import HeaderLink from "@/shared/components/HeaderLink.astro"
import LogoWhite from "@/shared/components/logos/LogoWhite.astro"
import UEBanner from "@/shared/components/UEBanner.astro"
import UEBanner2 from "@/shared/components/UEBanner2.astro"
import ContactUs from "@/shared/components/ContactUs.astro"

interface Props {
  language: string;
  contactForm?: boolean
}

const { language,contactForm} = Astro.props
const i18n = getI18N({ language })
---
<footer class="bg-footer">
   <div class="mx-auto w-full max-w-screen-xl p-4 px-6 py-6 lg:py-8 overflow-hidden">
    <div class="mb-6 flex flex-col md:mb-0">
      <a
        href="/"
        class="flex items-center justify-center"
        aria-label={i18n.HEADER.LOGO}
      >
        <LogoWhite class="w-24 md:w-32 lg:w-48" />
      </a>
      <div class="mt-6 flex justify-center gap-x-4">
        <a href="https://www.facebook.com/porticosport#" target="_blank" class="text-white hover:text-primary duration-300">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
          <span class="sr-only">Facebook</span>
        </a>
        <a href="https://twitter.com/portico_sport" target="_blank" class="text-white hover:text-primary duration-300">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4l11.733 16h4.267l-11.733 -16z" /><path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" /></svg>
          <span class="sr-only">Twitter</span>
        </a>
        <a href="https://www.instagram.com/portico.sport" target="_blank" class="text-white hover:text-primary duration-300">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M16.5 7.5l0 .01" /></svg>
          <span class="sr-only">Instagram</span>
        </a>
        <a href="https://www.linkedin.com/company/portico-sport/" target="_blank" class="text-white hover:text-primary duration-300">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" /><path d="M8 11l0 5" /><path d="M8 8l0 .01" /><path d="M12 16l0 -5" /><path d="M16 16v-3a2 2 0 0 0 -4 0" /></svg>
          <span class="sr-only">Linkdin</span>
        </a>
      </div></div>

    <div class="flex flex-col md:flex-row justify-center items-center gap-8 md:gap-16">
      <div class="w-full md:w-1/3 flex flex-col justify-center items-center gap-4">
        <div class="mt-6 flex flex-col gap-4">
          <a href="https://www.porticosport.com/uk" target="_blank" class="text-white hover:text-primary duration-300">
            <span>{i18n.PAGES.UK.ROUTE.BREADCRUMB}</span>
          </a>
          <a href="https://www.porticosport.com/padel-court-usa" target="_blank" class="text-white hover:text-primary duration-300">
            <span>{i18n.PAGES.USA.ROUTE.BREADCRUMB}</span>
          </a>
          <a href="https://www.porticosport.com/za" target="_blank" class="text-white hover:text-primary duration-300">
            <span>{i18n.PAGES.ZA.ROUTE.BREADCRUMB}</span>
          </a>
          <a href="https://www.porticosport.com/aus" target="_blank" class="text-white hover:text-primary duration-300">
            <span>{i18n.PAGES.AUS.ROUTE.BREADCRUMB}</span>
          </a>
        </div>
      </div>

      <div class="w-full md:w-1/3 flex flex-col justify-center items-center gap-4">
        <div class="mt-6 flex flex-col gap-4">
          <a href={i18n.PAGES.SECTION_OUTDOOR.ROUTE.URL} class="text-white hover:text-primary duration-300">
            <span>{i18n.PAGES.SECTION_OUTDOOR.ROUTE.LABEL}</span>
          </a>
          <a href={i18n.PAGES.SECTION_INDOOR.ROUTE.URL} class="text-white hover:text-primary duration-300">
            <span>{i18n.PAGES.SECTION_INDOOR.ROUTE.LABEL}</span>
          </a>
          <a href={i18n.PAGES.CUSTOMIZATION.ROUTE.URL} class="text-white hover:text-primary duration-300">
            <span>{i18n.PAGES.CUSTOMIZATION.ROUTE.LABEL}</span>
          </a>
          <a href={i18n.PAGES.TURF.ROUTE.URL} class="text-white hover:text-primary duration-300">
            <span>{i18n.PAGES.TURF.ROUTE.LABEL}</span>
          </a>
          <a href={i18n.PAGES.PADEL_NEWS.ROUTE.URL} class="text-white hover:text-primary duration-300">
            <span>{i18n.PAGES.PADEL_NEWS.ROUTE.LABEL}</span>
          </a>
          {i18n?.PAGES?.FUNDING?.ROUTE?.URL && (
            <a href={i18n.PAGES.FUNDING.ROUTE.URL} class="hover:underline hover:text-primary duration-300">
              {i18n.PAGES.FUNDING.ROUTE.LABEL}
            </a>
          )}
        </div>
      </div>

      <div class="w-full md:w-1/3 flex flex-col justify-center items-center gap-4">
        <UEBanner />
      </div>
      <div class="w-full md:w-1/3 flex flex-col justify-center items-center gap-4">
        <UEBanner2 />
      </div>
    </div>

    <hr class="my-6 border-white/10 sm:mx-auto lg:my-8" />
    <div class="flex flex-col sm:flex sm:items-center sm:justify-between">
      <ul class="flex gap-2 font-medium text-gray-400">
        <li>
          <a href={i18n.PAGES.PRIVACY.ROUTE.URL} class="hover:underline hover:text-primary duration-300">
            {i18n.FOOTER.LEGAL.PRIVACY}
          </a>
        </li>
        <li> | </li>
        <li>
          <a href={i18n.PAGES.COOKIES.ROUTE.URL} class="hover:underline hover:text-primary duration-300">
            {i18n.FOOTER.LEGAL.COOKIES}
          </a>
        </li>
        <li> | </li>
        <li>
          <a href={i18n.PAGES.LEGAL_ADVICE.ROUTE.URL} class="hover:underline hover:text-primary duration-300">
            {i18n.FOOTER.LEGAL.NOTICE}
          </a>
        </li>
        <li> | </li>
        <li>
          <a href={i18n.FOOTER.ETHIC.ROUTE} class="hover:underline hover:text-primary duration-300">
            {i18n.FOOTER.ETHIC.LABEL}
          </a>
        </li>
      </ul>
      <span class="text-sm text-gray-400 sm:text-center">{i18n.FOOTER.DISCLAIMER}</span>
    </div>
  </div>

  {contactForm && <ContactUs language={language} />}

  <HeaderLink
    checkActive={false}
    href="#top"
    class="group fixed bottom-4 right-4 p-4 border rounded-full z-10 bg-[#151a36]"
    aria-label={i18n.HEADER.LOGO}
  >
<svg xmlns="http://www.w3.org/2000/svg" class="h-auto blur-sm absolute inset-0 m-auto opacity-0 group-hover:opacity-100 transition-opacity duration-300" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <line x1="12" y1="5" x2="12" y2="19" />
      <line x1="18" y1="11" x2="12" y2="5" />
      <line x1="6" y1="11" x2="12" y2="5" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-up" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <line x1="12" y1="5" x2="12" y2="19" />
      <line x1="18" y1="11" x2="12" y2="5" />
      <line x1="6" y1="11" x2="12" y2="5" />
    </svg>
  </HeaderLink>
</footer>

