---
import Typography from '@/shared/components/ui/Typography.astro';

interface Props {
  id?: string;
  className?: string;
  heading?: string;
  subheading?: string;
  classNameHeading?: string;
  classNameSubHeading?: string;
  style?: string;
}

const { className, heading, subheading, id, style, classNameHeading = '', classNameSubHeading = '' } = Astro.props;
---

<section
  id={id}
  class={`w-full max-w-[1400px] mx-auto py-14 text-pretty text-xl text-left p-6 md:p-12 lg:p-20 ${className}`}
  style={style}
>
  {
    heading && <Typography tag="h3" className={`mx-auto mb-8 text-center font-semibold ${classNameHeading}`} text={heading} />
  }
  {
    subheading && <Typography tag="p" className={`text-center mb-8  ${classNameSubHeading}`} text={subheading} type="primary"/>
  }
  <slot />
</section>
