---
import Typography from '@/shared/components/ui/Typography.astro';

const { className, heading, subheading, id, style, afterHeading } = Astro.props;

interface Props {
  id?: string;
  className?: string;
  heading?: string;
  subheading?: string;
  afterHeading?: string;
  style?: string;
}
---

<section
  id={id}
  class={`w-full max-w-[1400px] mx-auto py-14 text-pretty text-xl text-left p-6 md:p-12 lg:p-20 ${className}`}
  style={style}
>
  {
    heading && <Typography tag="h2" className="mx-auto mb-8 text-center font-semibold " text={heading} />
  }
  {
    subheading && <Typography tag="p" className="text-center mb-8" text={subheading} type="primary"/>
  }
  <slot />
</section>
