---
import Layout from "@/shared/layouts/Layout.astro"
import HeroContainer from "@/shared/components/HeroContainer.astro"
import Button from "../Button.astro"

import { getI18N, getCurrentLocale } from "@/shared/i18n"
import Numeros from "../Numeros.astro"
import Gallery from "../Gallery.astro"

interface Props {
  language: string
}

const { language } = Astro.props
const i18n = getI18N({ language })
const currentLocale = getCurrentLocale({ language })
---

<Layout
  title={i18n.SEO.ARCHIVO_TITLE}
  description={i18n.SEO.ARCHIVO_DESCRIPTION}
  currentLocale={currentLocale}
  language={language}
>
  <HeroContainer img="/archivo-background.webp">
    <h1
      class="lg:text-6xl text-4xl text-center uppercase mb-20 font-tomaso tracking-widest"
    >
      {i18n.ARCHIVO.HERO_TITLE}
    </h1>

    <Button
      class="animate-fade-up uppercase"
      url="https://www.youtube.com/watch?v=1YmpPrqKP-g"
    >
      {i18n.ARCHIVO.HERO_BUTTON}
    </Button>
  </HeroContainer>

  <main class="pb-24">
    <Gallery i18n={i18n} />
    <Numeros i18n={i18n} />
  </main>
</Layout>
