---
import { getI18N, getCurrentLocale } from "@/shared/i18n"
import Section from '@/shared/components/Section.astro';
import Typography from "@/shared/components/ui/Typography.astro";
import Gallery from "../Gallery.astro"
import Layout from "@/shared/layouts/Layout.astro";
import "photoswipe/style.css";
import Button from "src/shared/components/Button.astro";
import SectionContact from "@/shared/components/sections/SectionContact.astro"
import { type Photo } from "@/types/types.ts";
import SectionInfiniteScrollAus from "@/shared/components/sections/SectionInfiniteScrollAus.astro"
import Breadcrumb from "@/shared/components/Breadcrumb.astro";

interface Props {
  language: string
  projectsGallery: Photo[]

}

const { language, projectsGallery} = Astro.props
const i18n = getI18N({ language })
const currentLocale = getCurrentLocale({ language })

---
<Layout title={i18n.PAGES.SECTION_AUS.SEO_TITLE} 
description={i18n.PAGES.SECTION_AUS.SEO_DESCRIPTION} 
currentLocale={currentLocale} 
language={language}
bgImage="/indoor-padel-aus/Australia-Indoor-Padel11.webp"
bgClass="brightness-50"
>
    
    <main class="flex flex-col gradient-bg relative">
      <div
      class="text-center left-0 top-0 w-full min-h-[40rem] lg:aspect-video flex justify-center items-center flex-col gap-4 px-4"
    >
      <Typography tag="h1" type="secondary" className="uppercase mb-6 font-bold" text={i18n.PAGES.SECTION_AUS.TITLE} responsive />
    </div>
    <div class="bg-main relative bg-background">
  
 <Breadcrumb
        crumbs={[
          { label: i18n.PAGES.HOME.ROUTE.BREADCRUMB, href: i18n.PAGES.HOME.ROUTE.URL },
          { label: i18n.PAGES.HOME.OCEANIA_ROUTE.LABEL, href: i18n.PAGES.HOME.OCEANIA_ROUTE.URL },
          {label: i18n.PAGES.SECTION_AUS.ROUTE.LABEL, href: i18n.PAGES.SECTION_AUS.ROUTE.URL },
        ]}
      />
    <Section 
    id={i18n.PAGES.SECTION_AUS.ID} 
    heading2={i18n.PAGES.SECTION_AUS.FIRST_SECTION.TITLE}
    subheading= {i18n.PAGES.SECTION_AUS.FIRST_SECTION.SUBTITLE}>
    <Typography tag="div" className="mb-6" text={i18n.PAGES.SECTION_AUS.FIRST_SECTION.DESCRIPTION}/>
   
  
    <div class="text-center mx-auto pt-20">
        <Typography tag="p" type="primary" text={i18n.PAGES.SECTION_AUS.FIRST_SECTION.ROUTE.TITLE}/>
        <Button size="sm" url={i18n.PAGES.SECTION_AUS.FIRST_SECTION.ROUTE.URL} target="_self">
          {i18n.PAGES.SECTION_AUS.FIRST_SECTION.ROUTE.LABEL}
        </Button>
      </div>
      
</Section>
 <Section
        heading2={i18n.PAGES.SECTION_AUS.PROJECTS_SECTION.TITLE_GALLERY}>  
        <Gallery

      id={i18n.PAGES.SECTION_AUS.PROJECTS_SECTION.ID_GALLERY}
      photos={projectsGallery}
      offset={2}
      path={i18n.PAGES.SECTION_AUS.PROJECTS_SECTION.PATH}
      urlButton={i18n.PAGES.HOME.PROJECTS_SECTION.URL.SRC}
urlTitle={i18n.PAGES.HOME.PROJECTS_SECTION.URL.TITLE}
      urlText={i18n.PAGES.SECTION_AUS.PROJECTS_SECTION.URL.LABEL}
    /> 
<SectionInfiniteScrollAus />

   
    <Section
    heading2={i18n.PAGES.SECTION_AUS.BUILDING_SECTION.TITLE}>
    <Typography tag="div" className="mb-16" text={i18n.PAGES.SECTION_AUS.BUILDING_SECTION.DESCRIPTION}>
    
    </Section>
          <SectionContact
          id={i18n.PAGES.SECTION_AUS.CONTACT_SECTION.ID}
          hiddenSubject
          title={i18n.PAGES.SECTION_AUS.CONTACT_SECTION.TITLE}
          description={i18n.PAGES.SECTION_AUS.CONTACT_SECTION.DESCRIPTION_1}
          language={language}
          bgImage={i18n.PAGES.HOME.CONTACT_SECTION.BG_IMAGE}
          image={i18n.PAGES.HOME.CONTACT_SECTION.IMAGE}
        />
          </div>
        
    </main>
</Layout>
