---
import Layout from "@/shared/layouts/Layout.astro";
import Breadcrumb from "@/shared/components/Breadcrumb.astro";
import SectionCourtsGrid from "@/shared/components/sections/SectionCourtsGrid.astro";
import NormativeLogos from "@/shared/components/sections/NormativeLogos.astro";
import { getI18N, getCurrentLocale } from "@/shared/i18n";

const { language } = Astro.props;
const i18n = getI18N({ language });
const currentLocale = getCurrentLocale({ language });
---

<Layout
  title={i18n.PAGES.COURTS.SEO_TITLE}
  description={i18n.PAGES.COURTS.SEO_DESCRIPTION}
  currentLocale={currentLocale}
  language={language}
  bgImage="/heros/hero-courts.webp"
  bgClass="brightness-50"
>
  <main class="flex flex-col gradient-bg relative">
    <div
      class="text-center left-0 top-0 w-full min-h-[40rem] lg:aspect-video flex justify-center items-center flex-col lg:-mt-20 gap-4 px-4"
    >
      <span class="uppercase text-balance">{i18n.PAGES.COURTS.SUBTITLE}</span
      >
      <h1
        class="text-xl md:text-2xl lg:text-4xl uppercase mb-6 text-balance"
        set:html={i18n.PAGES.COURTS.TITLE}
      />
    </div>
    <div class="bg-main relative bg-background">
      <Breadcrumb
        crumbs={[
          { label: i18n.PAGES.HOME.ROUTE.LABEL, href: i18n.PAGES.HOME.ROUTE.URL },
          { label: i18n.PAGES.COURTS.ROUTE.LABEL, href: i18n.PAGES.COURTS.ROUTE.URL },
        ]}
      />
      <NormativeLogos language={language} showInfo />
      <SectionCourtsGrid language={language} />
    </div>
  </main>
</Layout>
