---
import Layout from "@/shared/layouts/Layout.astro";
import SectionContact from "@/shared/components/sections/SectionContact.astro";
import SectionInformation from "@/shared/components/sections/SectionInformation.astro";
import SectionCourtsGrid from "@/shared/components/sections/SectionCourtsGrid.astro";
import SizingSection from "@/shared/components/sections/SizingSection.astro";
import Typography from "@/shared/components/ui/Typography.astro";
import BenefitsSection from "@/shared/components/sections/BenefitsSection.astro";
import TurfSection from "@/shared/components/sections/TurfSection.astro";
import LightSection from "@/shared/components/sections/LightSection.astro";
import NormativeLogos from "@/shared/components/sections/NormativeLogos.astro";
import Breadcrumb from "@/shared/components/Breadcrumb.astro";
import Button from "@/shared/components/Button.astro";
import Section from "@/shared/components/Section.astro";
import Video from "@/shared/components/Video.astro";
import { getI18N, getCurrentLocale } from "@/shared/i18n";
import Gallery from "../Gallery.astro";
import { type Photo, type FeatureCourt, type FirstSectionCourt, type BenefitsSectionCourt, type SizingSectionCourt, type InformationSection, type ContactSection, type GallerySection } from "@/types/types";
import FeatureList from "@/shared/components/FeatureList.astro";
import { courtsGrid } from "@/shared/i18n/constants";

interface Props {
  language: string;
  video?: string;
  heroImage?: string;
  gallery: Photo[];
  court: "MOBILE_COURT" | "FLOW_COURT" | "PANORAMIC_FORCE_80_COURT" | "PANORAMIC_COURT" | "CLUB_COURT" | "CLUB_PLUS_COURT" | "CLUB_FORCE_80_COURT" | "SINGLE_COURT" | "MINI_COURT";
}

const featureImages = [] as Photo[];
const { language, video, heroImage, court, gallery } = Astro.props;
const i18n = getI18N({ language });
const currentLocale = getCurrentLocale({ language });
const locale = i18n.PAGES.COURTS[court];
const isPaintSection = (locale as { PAINT_SECTION?: FeatureCourt }).PAINT_SECTION;
const isFirstSection = (locale as { FIRST_SECTION?: FirstSectionCourt }).FIRST_SECTION;
const isBenefitsSection = (locale as { BENEFITS_SECTION?: BenefitsSectionCourt }).BENEFITS_SECTION;
const isStructure = (locale as { STRUCTURE_SECTION?: InformationSection }).STRUCTURE_SECTION;
const isCourtsSizingSection = (locale as { SIZING_SECTION?: SizingSectionCourt }).SIZING_SECTION;
const isGlassSection = (locale as { GLASS_SECTION?: InformationSection }).GLASS_SECTION;
const isTurfSection = (locale as { TURF_SECTION?: InformationSection }).TURF_SECTION;
const isLightningSection = (locale as { LIGHTING_SECTION?: InformationSection }).LIGHTING_SECTION;
const isGallerySection = (locale as { GALLERY_SECTION?: GallerySection }).GALLERY_SECTION;
const isCourtsSection = (locale as { COURTS_SECTION?: string }).COURTS_SECTION;
const isContactSection = (locale as { CONTACT_SECTION?: ContactSection }).CONTACT_SECTION;

if (isPaintSection) {
  isPaintSection.IMAGES.forEach((image: Photo) => {
    featureImages.push({
      id: image.id,
      src: image.src,
      alt: image.alt,
    });
  });
}

const title = i18n.PAGES.COURTS[court].TITLE
const isMobile = title === i18n.PAGES.COURTS.MOBILE_COURT.TITLE
const force80 = i18n.PAGES.COURTS.CLUB_FORCE_80_COURT.TITLE
const courts = courtsGrid(i18n);
const compatibleCourts = isMobile 
  ? courts.filter((item) => item.title !== title && item.title !== force80)
  : courts.filter((item) => item.title !== title && item.title !== i18n.PAGES.COURTS.MOBILE_COURT.TITLE);

---

<Layout
  title={locale.SEO_TITLE}
  description={locale.SEO_DESCRIPTION}
  ogImage={locale.OG_IMG}
  currentLocale={currentLocale}
  language={language}
  bgImage={heroImage}
>
  {
    video ? (
      <Video language={language} video={video} classVideo="cp-elipse">
        <Section className="absolute z-10 animate-fade-up flex flex-col xl:flex-row max-w-none h-full justify-between md:justify-center">
          <div class="lg:p-16 flex flex-col md:gap-8 flex-1 justify-center max-w-[1400]">
            <header class="text-center md:pt-20">
              {locale.SUBTITLE && <Typography tag="p" type="primary" size="large" text={locale.SUBTITLE} responsive />}
              <Typography tag="h1" type="secondary" className="uppercase mb-6 font-bold" text={locale.DETAIL_TITLE || locale.TITLE} responsive />
            </header>
            {locale.DESCRIPTION && <Typography tag="div" className="text-center px-3 md:px-6 lg:px-24 xl:px-48" text={locale.DESCRIPTION} responsive />}
          </div>
          <Button target="_self" class="xl:hidden self-center" url={`#/${locale.CONTACT_SECTION.ID}`}>
            {locale.CONTACT_BUTTON}
          </Button>
        </Section>
      </Video>
    ) : null
  }
  <main class="flex flex-col gradient-bg relative">
    <Breadcrumb
      crumbs={[
        { label: i18n.PAGES.HOME.ROUTE.LABEL, href: i18n.PAGES.HOME.ROUTE.URL },
        { label: i18n.PAGES.COURTS.ROUTE.LABEL, href: i18n.PAGES.COURTS.ROUTE.URL },
        {
          label: locale.NAME,
          href: locale.ROUTE.URL,
        },
      ]}
    />
    {
      isFirstSection ? (<Section heading={isFirstSection.TITLE}>
        <Typography tag="div" className="text-center" text={isFirstSection.DESCRIPTION} responsive />
        <div class="section-renders grid-flow-col-dense items-center gap-4 max-w-[1400px] my-16 mx-auto px-6 ">
          <img
            src={isFirstSection.IMAGES.FRONT.src}
            alt={isFirstSection.IMAGES.FRONT.alt}
            class="front"
          />
          <img
            src={isFirstSection.IMAGES.PERSPECTIVE.src}
            alt={isFirstSection.IMAGES.PERSPECTIVE.alt}
            class="perspective"
          />
          <img
            src={isFirstSection.IMAGES.TOP.src}
            alt={isFirstSection.IMAGES.TOP.alt}
            class="top"
          />
        </div>
      </Section>) : null
    }
    <NormativeLogos language={language} />
    {
      isBenefitsSection ? (
        <BenefitsSection
          title={isBenefitsSection.TITLE}
          Benefits={isBenefitsSection.BENEFITS}
        />
      ) : null
    }
    {
      isStructure ? (
        <SectionInformation
          title={isStructure.TITLE}
          image={isStructure.IMAGE.src}
          subtitle={isStructure.SUBTITLE}
          text={isStructure.TEXT}
        />
      ) : null
    }
    {
      isCourtsSizingSection ? <SizingSection
        id={isCourtsSizingSection.ID}
        title={isCourtsSizingSection.TITLE}
        imageSizing={isCourtsSizingSection.IMAGE}
        outdoorText={isCourtsSizingSection.OUTDOOR}
        indoorText={isCourtsSizingSection.INDOOR}
        outdoorTitle={isCourtsSizingSection.OUTDOOR_TITLE}
        indoorTitle={isCourtsSizingSection.INDOOR_TITLE}
      /> : null
    }
    {
      isGlassSection ? <Section
        className="flex flex-col max-w-none p-0 lg:mb-0 border-b-4 border-white"
        style="padding: 0; margin-left: 0; margin-right: 0;"
      >
        <div class="flex flex-col-reverse xl:flex-row max-w-none">
          <div class="w-full py-8 px-4 flex-1 md:px-8">
            <Typography tag="h2" className="mb-6 font-bold uppercase" text={isGlassSection.TITLE} type="secondary" responsive />
            <Typography tag="h3" className="mb-4 font-thin" text={isGlassSection.SUBTITLE} type="primary" responsive />
            <Typography tag="div" text={isGlassSection.DESCRIPTION} responsive />
          </div>
          <div class="relative w-full flex-1">
            <img
              loading="lazy"
              draggable={false}
              id={isGlassSection.IMAGE.id}
              src={isGlassSection.IMAGE.src}
              alt={isGlassSection.IMAGE.alt}
              class="relative object-cover w-full xl:max-w-[1024px] top-0 left-0 transition-opacity select-none pointer-events-none aspect-video xl:aspect-[16/14] xxl:aspect-[16/11] image-reverse"
            />
          </div>
        </div>
      </Section> : null
    }
    {
      isPaintSection ? (
        <Section className="flex flex-col max-w-none p-0 border-b-4 border-white" style="padding: 0; margin-left: 0; margin-right: 0;">
          <div class="flex flex-col xl:flex-row max-w-none">
            <div class="relative w-full flex-1">
              {
                featureImages.map((image, index) => (
                  <img
                    loading="lazy"
                    draggable={false}
                    id={image.id}
                    src={image.src}
                    alt={image.alt}
                    class={`${index === 0 ? "relative" : "absolute"} object-cover w-full xl:max-w-[1024px] top-0 left-0 transition-opacity select-none pointer-events-none image aspect-[16/11] ${index === 0 ? "opacity-100" : "opacity-0"}`}
                  />
                ))
              }
            </div>
            <div class="w-full py-8 px-4 md:px-8 xl:-ml-72 flex-1 z-10">
              <Typography tag="h2" className="mb-6 font-bold uppercase" text={isPaintSection.TITLE} type="secondary" responsive />
              <Typography tag="h3" className="mb-4 font-thin" text={isPaintSection.SUBTITLE} type="primary" responsive />
              <Typography tag="div" className="mb-8" text={isPaintSection.DESCRIPTION} responsive />
              <FeatureList list={isPaintSection.LIST} />
            </div>
          </div>
        </Section>
      ) : null
    }
    {
      isTurfSection ? <TurfSection
        language={language}
        image={isTurfSection.IMAGE}
        subtitle={isTurfSection.SUBTITLE}
        title={isTurfSection.TITLE}
        description={isTurfSection.DESCRIPTION} /> : null
    }
    {
      isLightningSection ? <LightSection
        title={isLightningSection.TITLE}
        subtitle={isLightningSection.SUBTITLE}
        description={isLightningSection.DESCRIPTION}
        language={language}
      /> : null
    }
    {
      isGallerySection ? (<Gallery
        id={isGallerySection.ID}
        path={isGallerySection.PATH}
        offset={isGallerySection.OFFSET}
        photos={gallery}
        loadMoreText={isGallerySection.BUTTON_TEXT}
      />) : null
    }
    {
      isCourtsSection ? (<SectionCourtsGrid language={language} courts={compatibleCourts} heading={isCourtsSection.TITLE} subheading={isCourtsSection.DESCRIPTION} />) : null
    }
    {
      isContactSection ? (<SectionContact
        hiddenSubject
        subject={isContactSection.SUBJECT}
        language={language}
        bgImage={isContactSection.BG_IMAGE}
        image={isContactSection.IMAGE}
      />) : null
    }
    
  </main>
</Layout>

<style>

  .section-renders {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
  
  .front {
    grid-column: 1 / -1;
  }
  
  .section-renders img {
    transition: filter 0.3s ease-in-out;
  }

  .section-renders img:hover {
    filter: drop-shadow(1px 1px 10px rgb(183 228 253));
  }

  @media (min-width: 1280px) {
    .image {
      -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 0,
        white 30%,
        transparent
      );
      mask: linear-gradient(
        90deg,
        transparent,
        white 0,
        white 30%,
        transparent
      );
    }

    .image-reverse {
      -webkit-mask: linear-gradient(
        -90deg,
        transparent,
        white 0,
        white 30%,
        transparent
      );
      mask: linear-gradient(
        -90deg,
        transparent,
        white 0,
        white 30%,
        transparent
      );
    }
  }
</style>

<script is:inline define:vars={{ featureImages }}>
  const updateFeatureImages = (featureImages) => {
    // cambiar a la siguiente imagen cada 3 segundos

    let index = 0;
    setInterval(() => {
      const currentImage = featureImages[index];
      const nextImage = featureImages[index + 1] || featureImages[0];

      const currentImageElement = document.getElementById(currentImage.id);
      const nextImageElement = document.getElementById(nextImage.id);

      if (currentImageElement && nextImageElement) {
        currentImageElement.classList.remove("opacity-100");
        currentImageElement.classList.add("opacity-0");
        nextImageElement.classList.remove("opacity-0");
        nextImageElement.classList.add("opacity-100");
      }

      index = index + 1;
      if (index === featureImages.length) index = 0;
    }, 3000);
  };

  featureImages.length && updateFeatureImages(featureImages);
</script>
