---
import Layout from "@/shared/layouts/Layout.astro";
import Typography from "@/shared/components/ui/Typography.astro"
import NormativeLogos from "../sections/NormativeLogos.astro";
import Breadcrumb from "@/shared/components/Breadcrumb.astro";
import Section from "@/shared/components/Section.astro";
import Button from "../Button.astro";
import { getI18N, getCurrentLocale } from "@/shared/i18n";
import { type Photo } from "@/types/types";


interface Props {
  language: string;
  canopiesGallery: Photo[];
}

const { language} = Astro.props;
const i18n = getI18N({ language });
const currentLocale = getCurrentLocale({ language });


---

<Layout
  title={i18n.PAGES.CANOPIES.SEO_TITLE}
  description={i18n.PAGES.CANOPIES.SEO_DESCRIPTION}
  ogImage={i18n.PAGES.CANOPIES.OG_IMG}
  currentLocale={currentLocale}
bgImage="/public/varios/sapca-prize.webp"
bgClass="brightness-50"
  language={language}
>
 <main class="flex flex-col gradient-bg relative">
    <div
      class="text-center left-0 top-0 w-full min-h-[40rem] lg:aspect-video flex justify-center items-center flex-col gap-4 px-4"
    >
<Section 
heading1={i18n.PAGES.CREDENTIALS.TITLE} className="uppercase">
 </div>
</Section>
<div class="bg-main relative bg-background">
    <Breadcrumb
      crumbs={[
        { label: i18n.PAGES.HOME.ROUTE.BREADCRUMB, href: i18n.PAGES.HOME.ROUTE.URL },
        { label: i18n.PAGES.CREDENTIALS.ROUTE.LABEL, href: i18n.PAGES.CREDENTIALS.ROUTE.URL },
      ]}
    />
    <Section
        heading2={i18n.PAGES.CREDENTIALS.CREDENTIALS_SECTION.TITLE}>
    
   <Typography tag="div" className="text-center" text={i18n.PAGES.CREDENTIALS.CREDENTIALS_SECTION.DESCRIPTION} responsive/>
       </Section>
       <Section
       heading2={i18n.PAGES.CREDENTIALS.MEMBERSHIP_SECTION.TITLE}>
       <Typography tag="div" className="text-center mb-16" text={i18n.PAGES.CREDENTIALS.MEMBERSHIP_SECTION.DESCRIPTION} responsive/>
<div class="flex flex-cols-2 items-center xl:w-100% mb-16 bg-black/20 p-6">
             <a class="xl:w-60 flex justify-center  mx-auto" href="https://www.clusterpadel.com/" target="_blank"><img src="/logos/Logo Cluster.png" alt="Cluster internacional de padel" /></a>

             <div class="xl:w-3/4 ml-6">   
              <Typography tag="h3" className="text-right mb-12" text={i18n.PAGES.CREDENTIALS.MEMBERSHIP_SECTION.CLUSTER_PADEL.TITLE} responsive/>
              <Typography tag="div" className="text-right" text={i18n.PAGES.CREDENTIALS.MEMBERSHIP_SECTION.CLUSTER_PADEL.DESCRIPTION} responsives/>

      </div>
      </div>      
      <div class="flex flex-cols-2 items-center xl:w-100% bg-black/20 p-6">
      <div class="xl:w-3/4">   
         <Typography tag="h3" className="text-left mb-12" text={i18n.PAGES.CREDENTIALS.MEMBERSHIP_SECTION.SAPCA_PADEL.TITLE} responsive/>
         <Typography tag="div" className="text-left" text={i18n.PAGES.CREDENTIALS.MEMBERSHIP_SECTION.SAPCA_PADEL.DESCRIPTION} responsives/>

 </div>  
 <a href="https://sapca.org.uk" class="xl:w-60 flex justify-center mx-auto"><img src="/public/logos/Logo Sapca.png" alt="SAPCA logo" ></a>
  
 </div>

    
</Section>
<Section heading2={i18n.PAGES.CREDENTIALS.NORMATIVE_SECTION_LOGOS.TITLE}>
    <Typography tag="h3" type="primary" className="text-center font-thin mb-6" text={i18n.PAGES.CREDENTIALS.NORMATIVE_SECTION_LOGOS.SUBTITLE} responsive/>
<Typography tag="div" className="text-center" text={i18n.PAGES.CREDENTIALS.NORMATIVE_SECTION_LOGOS.DESCRIPTION} responsive/>
    <NormativeLogos language="en"/>
    <div class="mx auto text-center mt-12">
        <Button   
url={i18n.PAGES.CREDENTIALS.NORMATIVE_SECTION_LOGOS.BUTTON.URL} target="_self" 
title={i18n.PAGES.CREDENTIALS.NORMATIVE_SECTION_LOGOS.BUTTON.TITLE}>
    {i18n.PAGES.CREDENTIALS.NORMATIVE_SECTION_LOGOS.BUTTON.TEXT}
  </Button>
        
        </div>

</Section>
<Section heading2={i18n.PAGES.CREDENTIALS.CERTIFICATION_SECTION.TITLE}>
  <Typography tag="div" className="text-center" text={i18n.PAGES.CREDENTIALS.CERTIFICATION_SECTION.DESCRIPTION}/>
<div class="flex flex-cols-2 justify-center mt-12">
  <img src="/public/CE.svg" class="invert w-60 mx-auto">
  <img src="/public/une.png" class="invert w-60 mx-auto">
  </div> 
</Section>
</div>
    </main>


</Layout>
