---
import Layout from "@/shared/layouts/Layout.astro";
import Typography from "@/shared/components/ui/Typography.astro"
import Button from "@/shared/components/Button.astro"
import Breadcrumb from "@/shared/components/Breadcrumb.astro";
import Section from "@/shared/components/Section.astro";
import { getI18N, getCurrentLocale } from "@/shared/i18n";
import { type Photo } from "@/types/types";
import SectionComplements from "@/shared/components/sections/SectionCustomization.astro"
interface Props {
  language: string;
  canopiesGallery: Photo[];
}

const { language, canopiesGallery } = Astro.props;
const i18n = getI18N({ language });
const currentLocale = getCurrentLocale({ language });

const images = i18n.PAGES.CANOPIES.FEATURE_SECTION.IMAGES;
---

<Layout
  title={i18n.PAGES.CUSTOMIZATION.SEO_TITLE}
  description={i18n.PAGES.CUSTOMIZATION.SEO_DESCRIPTION}
  ogImage={i18n.PAGES.CANOPIES.OG_IMG}
  currentLocale={currentLocale}
bgImage="/projects/gallery/projects-7.webp"
bgClass="brightness-50"
  language={language}
>
 <main class="flex flex-col gradient-bg relative">
    <div
      class="text-center left-0 top-0 w-full min-h-[40rem] lg:aspect-video flex justify-center items-center flex-col gap-4 px-4"
    >
<Section 
heading2={i18n.PAGES.CUSTOMIZATION.TITLE} className="uppercase">
</Section>
 </div>
<div class="bg-main relative bg-background ">
    <Breadcrumb
      crumbs={[
        { label: i18n.PAGES.HOME.ROUTE.BREADCRUMB, href: i18n.PAGES.HOME.ROUTE.URL },
        { label: i18n.PAGES.CUSTOMIZATION.ROUTE.LABEL, href: i18n.PAGES.CUSTOMIZATION.ROUTE.URL },
      ]}
    />
    <div class="flex flex-wrap w-full md:w-[95%] m-auto h-auto ">
        <div class="w-full md:w-1/2 text-center xs:m-auto">
          <Typography tag="h2" className="font-bold mb-10" text={i18n.PAGES.CUSTOMIZATION.INTRO_SECTION.TITLE} />
         
          <Typography tag="div"  text={i18n.PAGES.CUSTOMIZATION.INTRO_SECTION.DESCRIPTION}  />

        </div>
        <div class="w-full md:w-1/2 md:m-auto">
          <img
            src={i18n.PAGES.CUSTOMIZATION.CUSTOM_SECTION.IMG.SRC}
            alt={i18n.PAGES.CUSTOMIZATION.CUSTOM_SECTION.IMG.ALT}
            class="img-structure w-full object-cover scale-[85%]"
          />
        </div>
      </div>
<SectionComplements language={language}/>


</div>
</main>

</Layout>
