---
import Layout from "@/shared/layouts/Layout.astro";
import Typography from "@/shared/components/ui/Typography.astro"
import Button from "@/shared/components/Button.astro"
import Breadcrumb from "@/shared/components/Breadcrumb.astro";
import Section from "@/shared/components/Section.astro";
import { getI18N, getCurrentLocale } from "@/shared/i18n";
import { type Photo } from "@/types/types";
import SectionComplements from "@/shared/components/sections/SectionCustomization.astro"
interface Props {
  language: string;
  canopiesGallery: Photo[];
}

const { language, canopiesGallery } = Astro.props;
const i18n = getI18N({ language });
const currentLocale = getCurrentLocale({ language });

const images = i18n.PAGES.CANOPIES.FEATURE_SECTION.IMAGES;
---

<Layout
  title={i18n.PAGES.CANOPIES.SEO_TITLE}
  description={i18n.PAGES.CANOPIES.SEO_DESCRIPTION}
  ogImage={i18n.PAGES.CANOPIES.OG_IMG}
  currentLocale={currentLocale}
bgImage="/projects/gallery/projects-7.webp"
bgClass="brightness-50"
  language={language}
>
 <main class="flex flex-col gradient-bg relative">
    <div
      class="text-center left-0 top-0 w-full min-h-[40rem] lg:aspect-video flex justify-center items-center flex-col gap-4 px-4"
    >
<Section 
heading2={i18n.PAGES.CUSTOMIZATION.TITLE} className="uppercase">
</Section>
 </div>



</main>

</Layout>
