---
import { getI18N, getCurrentLocale } from "@/shared/i18n"
import Section from '@/shared/components/Section.astro';
import Typography from "@/shared/components/ui/Typography.astro";
import Gallery from "../Gallery.astro"
import Layout from "@/shared/layouts/Layout.astro";
import "photoswipe/style.css";
import Button from "src/shared/components/Button.astro";
import ContactSectionEs from "@/shared/components/sections/ContactSectionIrl.astro";
import { type Photo } from "@/types/types.ts";
import Breadcrumb from "@/shared/components/Breadcrumb.astro";
import BentoItem from "@/shared/components/BentoItem.astro";
interface Props {
  language: string
  projectsGallery: Photo[]

}

const { language, projectsGallery} = Astro.props
const i18n = getI18N({ language })
const currentLocale = getCurrentLocale({ language })

---
<Layout title={i18n.PAGES.HOME.SEO_TITLE_CY} 
description={i18n.PAGES.HOME.SEO_DESCRIPTION_CY} 
currentLocale={currentLocale} 
language={language}
bgImage="/projects Cyprus/gallery/PadelPro-6.jpg"
bgClass="brightness-50"
>
    
    <main class="flex flex-col gradient-bg relative">
      <div
      class="text-center left-0 top-0 w-full min-h-[40rem] lg:aspect-video flex justify-center items-center flex-col gap-4 px-4"
    >
      <Typography tag="h1" type="secondary" className="uppercase mb-6 font-bold" text={i18n.PAGES.HOME.TITLE_CY} responsive />
    </div>
    <div class="bg-main relative bg-background">
        <Breadcrumb
        crumbs={[
          { label: i18n.PAGES.HOME.ROUTE.BREADCRUMB, href: i18n.PAGES.HOME.ROUTE.URL },
          { label: i18n.PAGES.CY.ROUTE.LABEL, href: i18n.PAGES.CY.ROUTE.URL },
        ]}
      />

          </div>
        
    </main>
</Layout>
