---
import { getI18N, getCurrentLocale, getCategoryByLanguage  } from "@/shared/i18n"
import Section from '@/shared/components/Section.astro';
import Typography from "@/shared/components/ui/Typography.astro";
import BentoItem from "@/shared/components/BentoItem.astro";
import Gallery from "../Gallery.astro"
import Layout from "@/shared/layouts/Layout.astro";
import SectionContact from "@/shared/components/sections/SectionContact.astro"
import Breadcrumb from "@/shared/components/Breadcrumb.astro";

import { type Photo } from "@/types/types.ts";

interface Props {
  language: string
  projectsGallery: Photo[]
}

const { language, projectsGallery } = Astro.props
const i18n = getI18N({ language })
const currentLocale = getCurrentLocale({ language })

---
<Layout title={i18n.PAGES.SECTION_INDOOR.SEO_TITLE} 
description={i18n.PAGES.SECTION_INDOOR.SEO_DESCRIPTION} 
currentLocale={currentLocale} 
language={language}
bgImage="/Indoor-Padel-Court-15.webp"
  bgClass="brightness-50">
    <main class="flex flex-col gradient-bg relative">
      <div
      class="text-center left-0 top-0 w-full min-h-[40rem] lg:aspect-video flex justify-center items-center flex-col gap-4 px-4"
    >
    <Typography tag="h1" className="uppercase mb-6 font-bold" text={i18n.PAGES.SECTION_INDOOR.TITLE} responsive />


    </div>
 <div class="bg-main relative bg-background">
   <Breadcrumb
    crumbs={[
      { label: i18n.PAGES.HOME.ROUTE.BREADCRUMB, href: i18n.PAGES.HOME.ROUTE.URL },
      { label: i18n.PAGES.SECTION_INDOOR.ROUTE.LABEL, href: i18n.PAGES.SECTION_INDOOR.ROUTE.URL },
    ]}
  />

      <Section 
            id={i18n.PAGES.SECTION_INDOOR.ID} 
            heading2={i18n.PAGES.SECTION_INDOOR.FIRST_SECTION_INDOOR.TITLE}
            subheading= {i18n.PAGES.SECTION_INDOOR.FIRST_SECTION_INDOOR.SUBTITLE}>
            <Typography tag="div" className="mb-16" text={i18n.PAGES.SECTION_INDOOR.FIRST_SECTION_INDOOR.DESCRIPTION}>
    </Section>
    <Section
            id={i18n.PAGES.SECTION_INDOOR.ID} 
            heading2={i18n.PAGES.SECTION_INDOOR.INDOOR_BENEFITS.TITLE}>
             <div class="grid lg:grid-cols-10 auto-rows-[25rem] gap-4">
                <BentoItem
                  class="col-span-10 lg:col-span-4"
                  title={i18n.PAGES.SECTION_INDOOR.INDOOR_BENEFITS.SUBTITLE_1}
                >
                  <div
                    slot="image"
                    class="background transition-scale absolute bottom-0 left-0 top-0
                    -z-10 h-full w-full bg-blue-950
                    bg-cover bg-center opacity-90 bg-blend-luminosity"
                  >
                  </div>
            
                  <p
                    slot="content"
                    class="max-w-xl text-base md:text-lg"
                    set:html={i18n.PAGES.SECTION_INDOOR.INDOOR_BENEFITS.DESCRIPTION_1}
                  />
                </BentoItem>
                <BentoItem
                  class="col-span-10 lg:col-span-6"
                  title={i18n.PAGES.SECTION_INDOOR.INDOOR_BENEFITS.SUBTITLE_3}
                >
                  <div
                    slot="image"
                    class="background transition-scale absolute bottom-0 left-0 top-0
                -z-10 h-full w-full bg-blue-800
                bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity"
                  
                  >
                  </div>
                  <p
                    slot="content"
                    class="max-w-xl text-base md:text-lg"
                    set:html={i18n.PAGES.SECTION_INDOOR.INDOOR_BENEFITS.DESCRIPTION_3}
                  />
                </BentoItem>
                <BentoItem
                  class="col-span-10 lg:col-span-3"
                  title={i18n.PAGES.SECTION_INDOOR.INDOOR_BENEFITS.SUBTITLE_2}
                >
                  <div
                    slot="image"
                    class="background transition-scale absolute bottom-0 left-0 top-0
                    -z-10 h-full w-full bg-blue-900
                    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity"
                    
                  >
                  </div>
                  <p
                    slot="content"
                    class="max-w-xl text-base md:text-lg"
                    set:html={i18n.PAGES.SECTION_INDOOR.INDOOR_BENEFITS.DESCRIPTION_2}
                  />
                </BentoItem>
                <BentoItem
                  class="col-span-10 lg:col-span-4"
                  title={i18n.PAGES.SECTION_INDOOR.INDOOR_BENEFITS.SUBTITLE_4}
                >
                  <div
                    slot="image"
                    class="background transition-scale absolute bottom-0 left-0 top-0
                    -z-10 h-full w-full bg-blue-950
                    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity"
                    
                  >
                  </div>
                  <p
                    slot="content"
                    class="max-w-xl text-base md:text-lg"
                    set:html={i18n.PAGES.SECTION_INDOOR.INDOOR_BENEFITS.DESCRIPTION_4}
                  />
                </BentoItem>
                <BentoItem
                  class="col-span-10 lg:col-span-3"
                  title={i18n.PAGES.SECTION_INDOOR.INDOOR_BENEFITS.SUBTITLE_5}
                >
                  <div
                    slot="image"
                    class="background transition-scale absolute bottom-0 left-0 top-0
                    -z-10 h-full w-full bg-blue-700
                    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity"
                   
                  >
                  </div>
                  <p
                    slot="content"
                    class="max-w-xl text-base md:text-lg"
                    set:html={i18n.PAGES.SECTION_INDOOR.INDOOR_BENEFITS.DESCRIPTION_5}
                  />
                </BentoItem>
              </div>
        </Section>    
          <Section
        id={i18n.PAGES.SECTION_INDOOR.PROJECTS_SECTION_INDOOR.ID_GALLERY}
        heading2={i18n.PAGES.SECTION_INDOOR.PROJECTS_SECTION_INDOOR.TITLE_GALLERY}>  
        <Gallery

      id={i18n.PAGES.SECTION_INDOOR.PROJECTS_SECTION_INDOOR.ID_GALLERY}
      photos={projectsGallery}
      offset={16}
      path={i18n.PAGES.SECTION_INDOOR.PROJECTS_SECTION_INDOOR.PATH}
      urlButton={i18n.PAGES.HOME.PROJECTS_SECTION.URL.SRC}
      urlText={i18n.PAGES.HOME.PROJECTS_SECTION.URL.LABEL}
    /> </Section>
  
<Section
heading2={i18n.PAGES.SECTION_INDOOR.INDOOR_PERSONALIZATION.TITLE}>
<Typography tag="div" className="mb-16" text={i18n.PAGES.SECTION_INDOOR.INDOOR_PERSONALIZATION.DESCRIPTION}></Section>


    <SectionContact
    id={i18n.PAGES.SECTION_INDOOR.INDOOR_CONTACT.ID}
    hiddenSubject
    title={i18n.PAGES.SECTION_INDOOR.INDOOR_CONTACT.TITLE}
    description={i18n.PAGES.SECTION_INDOOR.INDOOR_CONTACT.DESCRIPTION_1}
    language={language}
    bgImage={i18n.PAGES.HOME.CONTACT_SECTION.BG_IMAGE}
    image={i18n.PAGES.HOME.CONTACT_SECTION.IMAGE}
  />
</div>
    </main>
</Layout>
