---
import Layout from "@/shared/layouts/Layout.astro";
import HeroContainer from "@/shared/components/HeroContainer.astro";
import Breadcrumb from "@/shared/components/Breadcrumb.astro";
import Pagination from "@/shared/components/Pagination.astro";
import NewsList from "@/shared/components/NewsList.astro";
import { getI18N, getCurrentLocale } from "@/shared/i18n"

const page = Number(Astro.url.searchParams.get('page') || 1);
const response = await fetch(`https://porticosport.com/wp-json/wp/v2/posts?per_page=12&page=${page}&_embed`)
const totalPages = Number(response.headers.get('X-WP-TotalPages'));
const posts = await response.json();

interface Props {
  language: string,
  hidePagination?: boolean
}

const { language, hidePagination } = Astro.props
const i18n = getI18N({ language })
const currentLocale = getCurrentLocale({ language })
---

<Layout title={i18n.NEWS.TITLE} description={i18n.NEWS.SUBTITLE} currentLocale={currentLocale} language={language}>
  <HeroContainer img="/factory-portico.webp" imgAlt={i18n.NEWS.TITLE_ALT} heading={i18n.NEWS.TITLE} />
  <main class="pb-24 flex flex-col">
    <Breadcrumb
      crumbs={[
        { label: i18n.ROUTES.HOME.LABEL, href: i18n.ROUTES.HOME.URL },
        { label: i18n.ROUTES.NEWS.LABEL, href: i18n.ROUTES.NEWS.URL },
      ]} />
    <NewsList posts={posts} />
    {
      !hidePagination && <Pagination page={page} totalPages={totalPages}   />
    }
  </main>
</Layout>
