---
import { getI18N, getCurrentLocale } from "@/shared/i18n"
import Section from '@/shared/components/Section.astro';
import Typography from "@/shared/components/ui/Typography.astro";
import BentoItem from "@/shared/components/BentoItem.astro";
import Gallery from "../Gallery.astro"
import Layout from "@/shared/layouts/Layout.astro";
import SectionContact from "@/shared/components/sections/SectionContact.astro"

import { type Photo } from "@/types/types.ts";

interface Props {
  language: string
  projectsGallery: Photo[]
}

const { language, projectsGallery } = Astro.props
const i18n = getI18N({ language })
const currentLocale = getCurrentLocale({ language })


---
<Layout title={i18n.PAGES.SECTION_OUTDOOR.SEO_TITLE} description={i18n.PAGES.SECTION_OUTDOOR.SEO_DESCRIPTION} currentLocale={currentLocale} language={language}>
    <main>
    
        <Section id={i18n.PAGES.SECTION_OUTDOOR.ID}  heading1={i18n.PAGES.SECTION_OUTDOOR.TITLE} className="max-w-none relative"></Section>
        <Section 
            id={i18n.PAGES.SECTION_OUTDOOR.ID} 
            heading2={i18n.PAGES.SECTION_OUTDOOR.FIRST_SECTION_OUTDOOR.TITLE}
            subheading= {i18n.PAGES.SECTION_OUTDOOR.FIRST_SECTION_OUTDOOR.SUBTITLE}>
            <Typography tag="div" className="mb-16" text={i18n.PAGES.SECTION_OUTDOOR.FIRST_SECTION_OUTDOOR.DESCRIPTION}>
    </Section>
    </main>
</Layout>
