---
import { getI18N, getCurrentLocale } from "@/shared/i18n"
import Section from '@/shared/components/Section.astro';
import Typography from "@/shared/components/ui/Typography.astro";
import SectionBentoOut from "@/shared/components/sections/SectionBentoOut.astro";
import Gallery from "../Gallery.astro"
import Layout from "@/shared/layouts/Layout.astro";
import SectionContact from "@/shared/components/sections/SectionContact.astro"
import Breadcrumb from "@/shared/components/Breadcrumb.astro";

import { type Photo } from "@/types/types.ts";

interface Props {
  language: string
  projectsGallery: Photo[]
}

const { language, projectsGallery } = Astro.props
const i18n = getI18N({ language })
const currentLocale = getCurrentLocale({ language })


---
<Layout title={i18n.PAGES.SECTION_OUTDOOR.SEO_TITLE} 
description={i18n.PAGES.SECTION_OUTDOOR.SEO_DESCRIPTION} 
currentLocale={currentLocale} 
language={language}
bgImage="/experience.webp"
  bgClass="brightness-50">
    <main class="flex flex-col gradient-bg relative">
      <div
      class="text-center left-0 top-0 w-full min-h-[40rem] lg:aspect-video flex justify-center items-center flex-col gap-4 px-4"
    >
      <Typography tag="h1" className="uppercase mb-6 font-bold" text={i18n.PAGES.SECTION_OUTDOOR.TITLE} responsive />
    </div>
    <div class="bg-main relative bg-background">
   <Breadcrumb
    crumbs={[
      { label: i18n.PAGES.HOME.ROUTE.BREADCRUMB, href: i18n.PAGES.HOME.ROUTE.URL },
      { label: i18n.PAGES.SECTION_OUTDOOR.ROUTE.LABEL, href: i18n.PAGES.SECTION_OUTDOOR.ROUTE.URL },
    ]}
  />
      <Section 
            id={i18n.PAGES.SECTION_OUTDOOR.ID} 
            heading2={i18n.PAGES.SECTION_OUTDOOR.FIRST_SECTION_OUTDOOR.TITLE}
            subheading= {i18n.PAGES.SECTION_OUTDOOR.FIRST_SECTION_OUTDOOR.SUBTITLE}>
            <Typography tag="div" className="mb-16" text={i18n.PAGES.SECTION_OUTDOOR.FIRST_SECTION_OUTDOOR.DESCRIPTION}>
    </Section>
 <SectionBentoOut language={language}/>
<Section
id={i18n.PAGES.SECTION_OUTDOOR.PROJECTS_SECTION_OUTDOOR.ID_GALLERY}
        heading2={i18n.PAGES.SECTION_OUTDOOR.PROJECTS_SECTION_OUTDOOR.TITLE_GALLERY}>
 <Gallery
      id={i18n.PAGES.SECTION_OUTDOOR.PROJECTS_SECTION_OUTDOOR.ID_GALLERY}
      photos={projectsGallery}
      offset={16}
      path={i18n.PAGES.SECTION_OUTDOOR.PROJECTS_SECTION_OUTDOOR.PATH}
      urlButton={i18n.PAGES.SECTION_OUTDOOR.PROJECTS_SECTION_OUTDOOR.URL.SRC}
      urlText={i18n.PAGES.SECTION_OUTDOOR.PROJECTS_SECTION_OUTDOOR.URL.LABEL}
      buttonTitle={i18n.PAGES.SECTION_OUTDOOR.PROJECTS_SECTION_OUTDOOR.URL.TITLE}
    /> </Section>
 <SectionContact
    id={i18n.PAGES.SECTION_OUTDOOR.OUTDOOR_CONTACT.ID}
    hiddenSubject
    title={i18n.PAGES.SECTION_OUTDOOR.OUTDOOR_CONTACT.TITLE}
    description={i18n.PAGES.SECTION_OUTDOOR.OUTDOOR_CONTACT.DESCRIPTION_1}
    language={language}
    bgImage={i18n.PAGES.HOME.CONTACT_SECTION.BG_IMAGE}
    image={i18n.PAGES.HOME.CONTACT_SECTION.IMAGE}
  /> 
</div>
    </main>
</Layout>
