---
import { getI18N, getCurrentLocale } from "@/shared/i18n"

import Layout from "@/shared/layouts/Layout.astro"

interface Props {
  language: string
}

const { language } = Astro.props
const i18n = getI18N({ language })
const currentLocale = getCurrentLocale({ language })

const H1_STYLES =
  "mx-auto mt-16 mb-4 text-wrap text-3xl font-semibold tracking-wide uppercase"
const H2_STYLES =
  "mx-auto mt-16 mb-4 text-wrap text-2xl font-semibold tracking-wide uppercase text-balance"
---

<Layout title={i18n.PAGES.PRIVACY.SEO_TITLE} description={i18n.PAGES.PRIVACY.SEO_DESCRIPTION} currentLocale={currentLocale} language={language}>
  <main>
    <section
      class="max-w-5xl mx-auto my-24 text-pretty px-6 text-left text-lg leading-relaxed sm:px-20"
    >
      <h1 class=`${H1_STYLES}`>
        {i18n.PAGES.PRIVACY.TITLE}
      </h1>
      <h2 class=`${H2_STYLES}`>
        {i18n.PAGES.PRIVACY.IDENTIFICATION.TITLE}
      </h2>
      <p>
        {i18n.PAGES.PRIVACY.IDENTIFICATION.DESCRIPTION_1}
      </p>
      <p>
        {i18n.PAGES.PRIVACY.IDENTIFICATION.DESCRIPTION_2}
      </p>
      <h2 class=`${H2_STYLES}`>
        {i18n.PAGES.PRIVACY.USERS.TITLE}
      </h2>
      <p>
        {i18n.PAGES.PRIVACY.USERS.DESCRIPTION_1}
      </p>
      <h2 class=`${H2_STYLES}`>
        {i18n.PAGES.PRIVACY.USES.TITLE}
      </h2>
      <p>
        {i18n.PAGES.PRIVACY.USES.DESCRIPTION_1}
      </p>
      <p>
        {i18n.PAGES.PRIVACY.USES.DESCRIPTION_2}
      </p>
      <p>
        {i18n.PAGES.PRIVACY.USES.DESCRIPTION_3}
      </p>
      
      <ul>
        <li><p>
      {i18n.PAGES.PRIVACY.USES.DESCRIPTION_4}</p>
      </li>
      <li> <p>
        {i18n.PAGES.PRIVACY.USES.DESCRIPTION_5}</p>
        </li>
        <li><p>
          {i18n.PAGES.PRIVACY.USES.DESCRIPTION_6}</p>
          </li>
          <li>
      </ul>
      
      
      <h2 class=`${H2_STYLES}`>
        {i18n.PAGES.PRIVACY.DATA_PROTECTION.TITLE}
      </h2>
      <p>
        {i18n.PAGES.PRIVACY.DATA_PROTECTION.DESCRIPTION_1}
      </p>
      <p>
        {i18n.PAGES.PRIVACY.DATA_PROTECTION.DESCRIPTION_2}
      </p>
      <p>
        {i18n.PAGES.PRIVACY.DATA_PROTECTION.DESCRIPTION_3}
      </p>
      <p>
        {i18n.PAGES.PRIVACY.DATA_PROTECTION.DESCRIPTION_4}
      </p>
      <p>
        {i18n.PAGES.PRIVACY.DATA_PROTECTION.DESCRIPTION_5}
      </p>
      <p>
        {i18n.PAGES.PRIVACY.DATA_PROTECTION.DESCRIPTION_6}
      </p>
      <h2 class=`${H2_STYLES}`>
        {i18n.PAGES.PRIVACY.INTELLECTUAL.TITLE}
      </h2>
      <p>
        {i18n.PAGES.PRIVACY.INTELLECTUAL.DESCRIPTION_1}
      </p>
      <p>
        {i18n.PAGES.PRIVACY.INTELLECTUAL.DESCRIPTION_2}
      </p>
      <p>
        {i18n.PAGES.PRIVACY.INTELLECTUAL.DESCRIPTION_3}
      </p>
      <h2 class=`${H2_STYLES}`>
        {i18n.PAGES.PRIVACY.EXCLUSION.TITLE}
      </h2>
      <p>
        {i18n.PAGES.PRIVACY.EXCLUSION.DESCRIPTION_1}
      </p>
      <h2 class=`${H2_STYLES}`>
        {i18n.PAGES.PRIVACY.MODIFICATIONS.TITLE}
      </h2>
      <p>
        {i18n.PAGES.PRIVACY.MODIFICATIONS.DESCRIPTION_1}
      </p>
      <h2 class=`${H2_STYLES}`>
        {i18n.PAGES.PRIVACY.LINKS.TITLE}
      </h2>
      <p>
        {i18n.PAGES.PRIVACY.LINKS.DESCRIPTION_1}
      </p>
      <p>
        {i18n.PAGES.PRIVACY.LINKS.DESCRIPTION_2}
      </p>
      <h2 class=`${H2_STYLES}`>
        {i18n.PAGES.PRIVACY.RIGHT_OF_EXCLUSION.TITLE}
      </h2>
      <p><>
        {i18n.PAGES.PRIVACY.RIGHT_OF_EXCLUSION.DESCRIPTION_1}
      </></p>
      <h2 class=`${H2_STYLES}`>
        {i18n.PAGES.PRIVACY.GENERAL.TITLE}
      </h2>
      <p>
        {i18n.PAGES.PRIVACY.GENERAL.DESCRIPTION_1}
      </p>
      <h2 class=`${H2_STYLES}`>
        {i18n.PAGES.PRIVACY.MODIFICATION_PRESENT.TITLE}
      </h2>
      <p>
        {i18n.PAGES.PRIVACY.MODIFICATION_PRESENT.DESCRIPTION_1}
      </p>
      <p>
        {i18n.PAGES.PRIVACY.MODIFICATION_PRESENT.DESCRIPTION_2}
      </p>
      <h2 class=`${H2_STYLES}`>
        {i18n.PAGES.PRIVACY.LEGISLATION.TITLE}
      </h2>
      <p>
        {i18n.PAGES.PRIVACY.LEGISLATION.DESCRIPTION_1}
      </p>
    </section>
  </main>
</Layout>
