---
import { getI18N, getCurrentLocale } from "@/shared/i18n"

import Layout from "@/shared/layouts/Layout.astro"

interface Props {
  language: string
}

const { language } = Astro.props
const i18n = getI18N({ language })
const currentLocale = getCurrentLocale({ language })

const H1_STYLES =
  "mx-auto mt-16 mb-4 text-wrap text-3xl font-semibold tracking-wide uppercase"
const H2_STYLES =
  "mx-auto mt-16 mb-4 text-wrap text-2xl font-semibold tracking-wide uppercase text-balance"
---



      <Layout title={i18n.PAGES.PRIVACY.SEO_TITLE} description={i18n.PAGES.PRIVACY.SEO_DESCRIPTION} robots="no-index,nofollow" currentLocale={currentLocale} language={language}>
        <main>
          <section
            class="max-w-5xl mx-auto my-24 text-pretty px-6 text-left text-lg leading-relaxed sm:px-20"
          >
            <h1 class=`${H1_STYLES}`>
              {i18n.PAGES.PRIVACY.POLICY.TITLE}
            </h1>
      
            <p>
              {i18n.PAGES.PRIVACY.POLICY.DESCRIPTION}
            </p>
            <p>
              {i18n.PAGES.PRIVACY.POLICY.DESCRIPTION_1}
            </p>
            <p>
              {i18n.PAGES.PRIVACY.POLICY.DESCRIPTION_2}
            </p>
            <p>
              {i18n.PAGES.PRIVACY.POLICY.DESCRIPTION_3}
            </p>
            <p>
              {i18n.PAGES.PRIVACY.POLICY.DESCRIPTION_4}
            </p>
            <p>
              {i18n.PAGES.PRIVACY.POLICY.DESCRIPTION_5}
            </p>
            <p>
              {i18n.PAGES.PRIVACY.POLICY.DESCRIPTION_6}
            </p>
            <p>
              {i18n.PAGES.PRIVACY.POLICY.DESCRIPTION_7}
            </p>
    </section>
  </main>
</Layout>
