---
import Layout from "@/shared/layouts/Layout.astro";
import Breadcrumb from "@/shared/components/Breadcrumb.astro";
import Typography from "@/shared/components/ui/Typography.astro";
import ProjectsClubsSection from "@/shared/components/sections/ProjectsClubsSection.astro";
import ProjectsDetailed from "@/shared/components/ProjectsDetailed";
import countries from "@/shared/data/countries.json";
import { getI18N, getCurrentLocale } from "@/shared/i18n";
import CountriesSection from "@/shared/components/sections/CountriesSection.astro"
interface Props {
  language: string;
}

const { language } = Astro.props;
const i18n = getI18N({ language });
const currentLocale = getCurrentLocale({ language });
---

<Layout
  title={i18n.PAGES.PROJECTS.SEO_TITLE}
  description={i18n.PAGES.PROJECTS.SEO_DESCRIPTION}
robots="no-index,nofollow"
  currentLocale={currentLocale}
  language={language}
  ogImage={i18n.PAGES.PROJECTS.OG_IMG}
>
  <main>
    <!-- <div class="text-center left-0 top-0 w-full min-h-[40rem] lg:aspect-video flex justify-center items-center flex-col lg:-mt-20 gap-4 px-4">
      <Typography tag="span" className="uppercase" type="primary" size="large" text={i18n.PAGES.PROJECTS.SUBTITLE} responsive />
      <Typography tag="h1" type="secondary" className="uppercase mb-6 font-bold" text={i18n.PAGES.PROJECTS.TITLE} responsive />
      <Typography tag="h2" type="secondary" className="uppercase mb-6 font-bold" text={i18n.PAGES.PROJECTS.POSTTITLE} responsive />
    </div> -->
    <div class="bg-main relative bg-background w-full">
      <!-- <Breadcrumb
        crumbs={[
          { label: i18n.PAGES.HOME.ROUTE.BREADCRUMB, href: i18n.PAGES.HOME.ROUTE.URL },
          { label: i18n.PAGES.PROJECTS.ROUTE.LABEL, href: i18n.PAGES.PROJECTS.ROUTE.URL },
        ]}
      /> -->
      <ProjectsClubsSection
        title={i18n.PAGES.PROJECTS.PROJECTS_CLUB_SECTION.TITLE}
        subtitle={i18n.PAGES.PROJECTS.PROJECTS_CLUB_SECTION.SUBTITLE}
        countries={countries}
      />
      <section 
        id={i18n.PAGES.PROJECTS.MAP_SECTION.ID}
      >
        <Typography tag="h2" text={i18n.PAGES.PROJECTS.MAP_SECTION.TITLE} className="mx-auto mb-8 text-center font-semibold uppercase" />
        <Typography tag="p" text={i18n.PAGES.PROJECTS.MAP_SECTION.SUBTITLE} className="mx-auto mb-8 text-center font-thin" />
        <!-- <div class="border-y border-primary mt-8"> -->
          <!-- <MapProjects client:only /> -->
          <ProjectsDetailed client:load />
          <div class="border-y border-primary mt-8 h-[600px] bg-center bg-cover" style={{backgroundImage: 'url("projects-map.webp")'}} />
        <!-- </div> -->
 {language === "en" && <CountriesSection showInfo language="en"
heading2={i18n.PAGES.PROJECTS_SECTION.TITLE}
descriptionText={i18n.PAGES.PROJECTS_SECTION.DESCRIPTION}
 />
}
      </section>
    </div>
  </main>
</Layout>
