---
import Layout from "@/shared/layouts/Layout.astro"
import Video from "@/shared/components/Video.astro"
import Typography from "@/shared/components/ui/Typography.astro"
import SectionIntroUK from "@/shared/components/sections/SectionIntroUK.astro"
import SectionBentoUK from "@/shared/components/sections/SectionBentoUK.astro"
import SectionContact from "@/shared/components/sections/SectionContact.astro"
import SectionCourts from "@/shared/components/sections/SectionCourts.astro"
import SectionCanopies from "@/shared/components/sections/SectionCanopies.astro"
import SectionComplementsUK from "@/shared/components/sections/SectionComplementsUK.astro"
import SectionPartnerLogos from "@/shared/components/sections/SectionPartnerLogos.astro";
import { getI18N, getCurrentLocale, getCategoryByLanguage } from "@/shared/i18n"
import Gallery from "../Gallery.astro"
import NewsList from "../NewsList.astro"
import SectionGraphicProcessUK from "@/shared/components/sections/SectionGraphicProcessUK.astro"
import SectionInfiniteScroll from "@/shared/components/sections/SectionInfiniteScroll.astro"
import { type Photo } from "@/types/types.ts";
import HexagonCupLogo from "@/shared/components/logos/LogoHexagonCup.astro";
import SectionFaqs from "@/shared/components/sections/SectionFaqs.astro"
import NormativeLogosUK from "@/shared/components/sections/NormativeLogos.astro";
import Breadcrumb from "@/shared/components/Breadcrumb.astro";
import Slider from "@/shared/components/sections/Slider.astro";

interface Props {
  language: string,
  projectsGallery: Photo[]
}

const { language, projectsGallery } = Astro.props
const i18n = getI18N({ language })
const currentLocale = getCurrentLocale({language})
const category = getCategoryByLanguage({language})

const response = await fetch(`https://portico.porticosport.com/wp-json/wp/v2/posts?categories=${category}&per_page=15&_embed`)
// const response = await fetch(`https://portico.porticosport.com/wp-json/wp/v2/posts?per_page=6&_embed`)
const posts = await response.json();
---

<Layout title={i18n.PAGES.HOME.SEO_TITLE_UK} contactForm description={i18n.PAGES.HOME.SEO_DESCRIPTION_UK} robots="index,follow" currentLocale={currentLocale} language={language}>

  <Video language={language} video="/movie-UK.mp4" subtitle={i18n.PAGES.HOME.SUBTITLE_UK} title={i18n.PAGES.HOME.TITLE_UK} buttonUrl={i18n.PAGES.HOME.CONTACT_BUTTON.URL} buttonText={i18n.PAGES.HOME.CONTACT_BUTTON.LABEL} language={language} classVideo="cp-elipse" subject={i18n.PAGES.HOME.CONTACT_SECTION.SUBJECT} uk>
    <div
      slot="bottom"
      class="absolute bottom-[20%] w-40 md:bottom-1/4 md:w-[200px] left-1/2 -translate-x-1/2 md:translate-x-0 md:left-10 z-10"
    >

      <div class="flex flex-col gap-2">
        <div class="bg-white/70 p-2 rounded-xl">
          <img src="/logos/sapca.png" alt="Sapca logo" />
        </div>
        <button id="logo-hexagon-cup">
          <HexagonCupLogo />
        </button>
         <div class="bg-white/70 p-2 rounded-xl">
          <img src="/logos/Award finalist logo.png" alt="Award finalist logo" />
        </div>

      </div>
    </div>
  </Video>
  <main>
<Breadcrumb
    crumbs={[
      { label: i18n.PAGES.HOME.ROUTE.BREADCRUMB, href: i18n.PAGES.HOME.ROUTE.URL },
      { label: i18n.PAGES.HOME.UK_ROUTE.LABEL, href: i18n.PAGES.HOME.UK_ROUTE.URL },
    ]}
  />
    <SectionIntroUK language={language} />
 <section 
      id={i18n.PAGES.HOME.PROJECTS_SECTION_UK.ID}
    >
      <Typography tag="h2" text={i18n.PAGES.HOME.PROJECTS_SECTION_UK.TITLE} className="mx-auto mb-8 mt-10 text-center font-semibold uppercase" />
     
    <Gallery
      heading={i18n.PAGES.HOME.PROJECTS_SECTION_UK.TITLE_GALLERY}
      id={i18n.PAGES.HOME.PROJECTS_SECTION_UK.ID_GALLERY}
      photos={projectsGallery}
      offset={12}
      path={i18n.PAGES.HOME.PROJECTS_SECTION_UK.PATH}
      urlButton={i18n.PAGES.HOME.PROJECTS_SECTION_UK.URL.SRC}
      urlText={i18n.PAGES.HOME.PROJECTS_SECTION_UK.URL.LABEL}
     buttonTitle={i18n.PAGES.HOME.PROJECTS_SECTION_UK.URL.TITLE}
    /> 
<div class="border-y border-primary mt-8 h-[600px] bg-center bg-cover" style={{backgroundImage: 'url("projects-map.webp")'}} />
    </section>
    <SectionGraphicProcessUK language={language} />
    <SectionInfiniteScroll language={language} />
    <SectionCourts language={language} heading2={ i18n.PAGES.HOME.COURTS_SECTION.TITLE_UK} />
    <NormativeLogosUK language={language} showInfo 
subtitle={i18n.NORMATIVE_SECTION_LOGOS_UK.SUBTITLE} 
description={ i18n.NORMATIVE_SECTION_LOGOS_UK.DESCRIPTION}
/>
    <SectionCanopies
      video="/cubiertas-spot.webm"
      subtitle={i18n.PAGES.HOME.CANOPIES_SECTION_UK.SUBTITLE}
      title={i18n.PAGES.HOME.CANOPIES_SECTION_UK.TITLE}
      text={i18n.PAGES.HOME.CANOPIES_SECTION_UK.TEXT}
      buttonUrl={i18n.PAGES.CANOPIES.ROUTE.URL}
      buttonText={i18n.PAGES.HOME.CANOPIES_SECTION_UK.BUTTON_TEXT}
     buttonTitle={i18n.PAGES.HOME.CANOPIES_SECTION_UK.BUTTON_TITLE}
    />
    
   

<SectionBentoUK language={language} />
    <SectionComplementsUK language={language} />
    <SectionFaqs items={i18n.PAGES.HOME.FAQS_SECTION.QUESTIONS_UK} title={i18n.PAGES.HOME.FAQS_SECTION.TITLE_UK} subtitle={i18n.PAGES.HOME.FAQS_SECTION.SUBTITLE} />
    <Slider language={language} posts={posts} />
    <SectionContact
      id={i18n.PAGES.HOME.CONTACT_SECTION.ID}
      hiddenSubject
      subject={i18n.PAGES.HOME.CONTACT_SECTION.SUBJECT}
      title={i18n.CONTACT_FORM.TITLE_UK}
      language={language}
      bgImage={i18n.PAGES.HOME.CONTACT_SECTION.BG_IMAGE}
      image={i18n.PAGES.HOME.CONTACT_SECTION.IMAGE}
      description={i18n.PAGES.HOME.CONTACT_SECTION_UK.DESCRIPTION}
      uk
    />
    <SectionPartnerLogos uk />
  </main>

</Layout>

<script>
  const logoHexagonCup = document.getElementById('logo-hexagon-cup');

  logoHexagonCup?.addEventListener('click', () => {
    window.open('https://www.hexagoncup.com/', '_blank');
  });

</script>
