---
import Section from "@/shared/components/Section.astro";
import SavingsAstro from '@/shared/components/icons/SavingsIcon.astro';
import WarrantyIcon from '@/shared/components/icons/WarrantyIcon.astro';
import Typography from "@/shared/components/ui/Typography.astro";
import VersatileCourtIcon from '@/shared/components/icons/VersatileCourtIcon.astro';
import RentIcon from '@/shared/components/icons/RentIcon.astro';
import MaterialsIcon from '@/shared/components/icons/MaterialsIcon.astro';
import LogoCircles from '@/shared/components/logos/LogoCircles';
import { type Benefit } from "@/types/types";

interface Props {
  title: string;
  subtitle: string;
  description: string;
  Benefits: Benefit[];
}

const { title, subtitle, description, Benefits } = Astro.props;
---

<Section>
  <Typography tag="h2" className="font-bold text-secondary mb-6 uppercase text-center" text={title} type="secondary" />
  <Typography tag="h3" className="font-bold text-secondary mb-6 uppercase text-center" text={subtitle} type="secondary" />
  <Typography tag="p" className="mb-6 text-center" text={description} />
  <div class="flex flex-col md:flex-row gap-10 justify-center flex-wrap items-center">
    {
      Benefits.map(({header, icon, footer}) => (
        <div class="w-72 flex flex-col items-center gap-3">
          <header class="text-secondary">{header}</header>
          <body>
            <LogoCircles className="w-[150px] h-[150px]" color="#b7e4fd" color="#b7e4fd" stopAnimation>
              {
                icon === 'SavingsAstro' && <SavingsAstro width={100} height={100} />
              }
              {
                icon === 'WarrantyIcon' && <WarrantyIcon width={100} height={100} />
              }
              {
                icon === 'VersatileCourtIcon' && <VersatileCourtIcon width={100} height={100} />
              }
              {
                icon === 'RentIcon' && <RentIcon width={100} height={100} />
              }
              {
                icon === 'MaterialsIcon' && <MaterialsIcon width={100} height={100} />
              }
              <span />
            </LogoCircles>
          </body>
          <footer class="text-center text-base font-thin">
            <span>{footer}</span>
          </footer>
        </div>
      ))
    }
  </div>
</Section>