---
import Section from '@/shared/components/Section.astro';
import { Image } from 'astro:assets';

const { countries, title, subtitle } = Astro.props
const projects = countries.filter(({ projects }) => projects).map(({ projects }) => projects.filter(({projectLogo}) => projectLogo)).flat()
// mostrar un número de projectos múltiplo de 4
const projectsLength = projects.length
const projectsToShow = projects.slice(0, projectsLength - (projectsLength % 4))
---

<Section heading={title} subheading={subtitle}>
  <div class="club-grid gap-3 lg:gap-6">
    {projectsToShow.map(({projectLogo, projectName})=> <a href="#map"><Image src={projectLogo} alt={projectName} width={160} height={160} class="rounded-full border-secondary border-4 object-cover" /></a>)}
  </div>
</Section>

<style>
  .club-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }

  .club-grid img:hover {
    scale: 1.1;
    filter: drop-shadow(1px 1px 5px rgb(183 228 253));
    transition: scale 0.2s ease-in-out, filter 0.2s ease-in-out;
  }

  @media (prefers-reduced-motion: no-preference) {
    .club-grid img {
      scale: 0.8;
      opacity: 0;
      animation: fade-in linear forwards;
      animation-timeline: view();
      animation-range: entry 100px;
    }

    @keyframes fade-in {
      to {
        scale: 1;
        opacity: 1;
      }
    }
  }
 @media (min-width: 375px) and (max-width:639px){
    .club-grid{
      grid-template-columns: repeat(4, minmax(100px, 1fr));

    }
    .club-grid img{
     width: 100px;
     height: 100px;
    }
  }
</style>
