---
import Section from '@/shared/components/Section.astro';
import { Image } from 'astro:assets';

const { countries, title, subtitle } = Astro.props
const projects = countries.filter(({ projects }) => projects).map(({ projects }) => projects.filter(({projectLogo}) => projectLogo)).flat()
---

<Section heading={title} subheading={subtitle}>
  <div class="club-grid">
    {projects.map(({projectLogo, projectName})=> <Image src={projectLogo} alt={projectName} width={180} height={180} class="rounded-full border-secondary border-4 object-cover" />)}
  </div>
</Section>

<style>
  .club-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1.5rem;
  }

  .club-grid img:hover {
    scale: 1.1;
    filter: drop-shadow(1px 1px 5px rgb(183 228 253));
    transition: scale 0.2s ease-in-out, filter 0.2s ease-in-out;
  }
</style>