---
import Section from '@/shared/components/Section.astro';
import { Image } from 'astro:assets';

const { countries, title, subtitle } = Astro.props
const projects = countries.filter(({ projects }) => projects).map(({ projects }) => projects.filter(({projectLogo}) => projectLogo)).flat()
---

<Section heading={title} subheading={subtitle}>
  <div class="club-grid gap-3 lg:gap-6">
    {projects.map(({projectLogo, projectName})=> <Image src={projectLogo} alt={projectName} width={160} height={160} class="rounded-full border-secondary border-4 object-cover" />)}
  </div>
</Section>

<style>
  .club-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }

  .club-grid img:hover {
    scale: 1.1;
    filter: drop-shadow(1px 1px 5px rgb(183 228 253));
    transition: scale 0.2s ease-in-out, filter 0.2s ease-in-out;
  }

  @media (prefers-reduced-motion: no-preference) {
    .club-grid img {
      scale: 0.8;
      opacity: 0;
      animation: fade-in linear forwards;
      animation-timeline: view();
      animation-range: entry 100px;
    }

    @keyframes fade-in {
      to {
        scale: 1;
        opacity: 1;
      }
    }
  }
</style>