---
import { getI18N } from "@/shared/i18n";
import Section from "@/shared/components/Section.astro";

const { language } = Astro.props;
const i18n = getI18N({ language });

const COMPLEMENTS_ITEMS = [
  {
    title: i18n.PAGES.HOME.COMPLEMENTS_SECTION_USA.ITEMS.ITEM_1.TITLE,
    description: i18n.PAGES.HOME.COMPLEMENTS_SECTION_USA.ITEMS.ITEM_1.DESCRIPTION,
    image: "/complements/platforms.webp",
  },
  {
    title: i18n.PAGES.HOME.COMPLEMENTS_SECTION_USA.ITEMS.ITEM_2.TITLE,
    description: i18n.PAGES.HOME.COMPLEMENTS_SECTION_USA.ITEMS.ITEM_2.DESCRIPTION,
    image: "/complements/structures.webp",
  },
  {
    title: i18n.PAGES.HOME.COMPLEMENTS_SECTION_USA.ITEMS.ITEM_3.TITLE,
    description: i18n.PAGES.HOME.COMPLEMENTS_SECTION_USA.ITEMS.ITEM_3.DESCRIPTION,
    image: "/complements/glasses.webp",
  },
  {
    title: i18n.PAGES.HOME.COMPLEMENTS_SECTION_USA.ITEMS.ITEM_4.TITLE,
    description: i18n.PAGES.HOME.COMPLEMENTS_SECTION_USA.ITEMS.ITEM_4.DESCRIPTION,
    image: "/complements/artifitial-turf.webp",
  },
  {
    title: i18n.PAGES.HOME.COMPLEMENTS_SECTION_USA.ITEMS.ITEM_5.TITLE,
    description: i18n.PAGES.HOME.COMPLEMENTS_SECTION_USA.ITEMS.ITEM_5.DESCRIPTION,
    image: "/complements/lighting.webp",
  },
  {
    title: i18n.PAGES.HOME.COMPLEMENTS_SECTION_USA.ITEMS.ITEM_6.TITLE,
    description: i18n.PAGES.HOME.COMPLEMENTS_SECTION_USA.ITEMS.ITEM_6.DESCRIPTION,
    image: "/complements/customization.webp",
  },
];
---

<Section
  id={i18n.PAGES.HOME.COMPLEMENTS_SECTION_USA.ID}
  heading2={i18n.PAGES.HOME.COMPLEMENTS_SECTION_USA.TITLE}
  subheading={i18n.PAGES.HOME.COMPLEMENTS_SECTION_USA.SUBTITLE}
>
  <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-4 pt-20">
    {
      COMPLEMENTS_ITEMS.map(({ image, title, description }) => (
        <article
          style={{
            backgroundImage: `url('${image}')`,
          }}
          class="bg-cover bg-bottom bg-no-repeat rounded-xl flex flex-col gap-3 justify-end h-96 p-4 brightness-75"
        >
          <p class="text-2xl font-bold text-balance z-20">
            {title}
          </p>
          <p class="text-lg text-pretty mb-0 z-20">
            {description}
          </p>
        </article>
      ))
    }
  </div>
</Section>

<style>

  @media (prefers-reduced-motion: no-preference) {
    article {
      scale: 0.8;
      opacity: 0;
      animation: fade-in linear forwards;
      animation-timeline: view();
      animation-range: entry 100px;
    }

    @keyframes fade-in {
      to {
        scale: 1;
        opacity: 1;
      }
    }
  }

  article::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    z-index: 10;
    @apply rounded-b-xl;
  }
</style>
