---
import { getI18N } from "@/shared/i18n";
import Section from "@/shared/components/Section.astro";
import Typography from "@/shared/components/ui/Typography.astro";

interface Props {
  language: string;
  id?: string;
  title?: string;
  subtitle?: string;
  complementsItems?: Array<{ titlec: string; descriptionc: string; imagec: string }>;

}

const { language, title, subtitle, complementsItems } = Astro.props;
const i18n = getI18N({ language });

const id = id || i18n.PAGES.HOME.COMPLEMENTS_SECTION.ID : null
const heading2 = title || i18n.PAGES.HOME.COMPLEMENTS_SECTION.TITLE : null
const subheading = subtitle || i18n.PAGES.HOME.COMPLEMENTS_SECTION.SUBTITLE : null

const COMPLEMENTS_ITEMS = [
  {
    titlec: i18n.PAGES.HOME.COMPLEMENTS_SECTION.ITEMS.ITEM_1.TITLE,
    descriptionc: i18n.PAGES.HOME.COMPLEMENTS_SECTION.ITEMS.ITEM_1.DESCRIPTION,
    imagec: "/complements/platforms.webp",
  },
  {
    titlec: i18n.PAGES.HOME.COMPLEMENTS_SECTION.ITEMS.ITEM_2.TITLE,
    descriptionc: i18n.PAGES.HOME.COMPLEMENTS_SECTION.ITEMS.ITEM_2.DESCRIPTION,
    imagec: "/complements/structures.webp",
  },
  {
    titlec: i18n.PAGES.HOME.COMPLEMENTS_SECTION.ITEMS.ITEM_3.TITLE,
    descriptionc: i18n.PAGES.HOME.COMPLEMENTS_SECTION.ITEMS.ITEM_3.DESCRIPTION,
    imagec: "/complements/glasses.webp",
  },
  {
    titlec: i18n.PAGES.HOME.COMPLEMENTS_SECTION.ITEMS.ITEM_4.TITLE,
    descriptionc: i18n.PAGES.HOME.COMPLEMENTS_SECTION.ITEMS.ITEM_4.DESCRIPTION,
    imagec: "/complements/artifitial-turf.webp",
  },
  {
    title: i18n.PAGES.HOME.COMPLEMENTS_SECTION.ITEMS.ITEM_5.TITLE,
    description: i18n.PAGES.HOME.COMPLEMENTS_SECTION.ITEMS.ITEM_5.DESCRIPTION,
    image: "/complements/lighting.webp",
  },
  {
    titlec: i18n.PAGES.HOME.COMPLEMENTS_SECTION.ITEMS.ITEM_6.TITLE,
    descriptionc: i18n.PAGES.HOME.COMPLEMENTS_SECTION.ITEMS.ITEM_6.DESCRIPTION,
    imagec: "/complements/customization.webp",
  },
];

const COMPLEMENTS_ITEMS = complementsItems || DEFAULT_COMPLEMENTS_ITEMS;

---

<Section
  id={id}
  heading2={heading2}
  subheading={subheading}
>
  <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-4 pt-20">
    {
      COMPLEMENTS_ITEMS.map(({ image, title, description }) => (
        <article
          style={{
            backgroundImage: `url('${imagec}')`,
          }}
          class="bg-cover bg-bottom bg-no-repeat rounded-xl flex flex-col gap-3 justify-end h-96 p-4 brightness-75"
        >
          <p class="text-2xl font-bold text-balance z-20">
            {titlec}
          </p>
          <p class="text-lg text-pretty mb-0 z-20">
            {descriptionc}
          </p>
        </article>
      ))
    }
  </div>
</Section>

<style>

  @media (prefers-reduced-motion: no-preference) {
    article {
      scale: 0.8;
      opacity: 0;
      animation: fade-in linear forwards;
      animation-timeline: view();
      animation-range: entry 100px;
    }

    @keyframes fade-in {
      to {
        scale: 1;
        opacity: 1;
      }
    }
  }

  article::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    z-index: 10;
    @apply rounded-b-xl;
  }
</style>
