---
import Section from "@/shared/components/Section.astro";
import Typography from "@/shared/components/ui/Typography.astro";

import { getI18N } from "../../i18n";

const { language } = Astro.props;
const i18n = getI18N({ language });
---
<div class="flex flex-col md:flex-row bg-white">

  <div class="w-full md:w-1/2">
    <Section id={i18n.PAGES.HOME.INTRO_SECTION.ID} className="text-center p-6 md:p-12">
      <Typography
        tag="h3"
        type="black"
        className="mx-auto mb-10 text-wrap font-semibold"
        text={i18n.PAGES.HOME.INTRO_SECTION.TITLE}
      />
      <Typography
        tag="div"
        type="black"
        className="max-w-[60ch] mx-auto"
        text={i18n.PAGES.HOME.INTRO_SECTION.DESCRIPTION}
      />
    </Section>
  </div>

 
  <div class="hidden md:flex justify-center items-center px-4">
    <div class="h-[80%] w-3.5 bg-gradient-to-b from-[#315A75] via-[#151a36] to-[#151a36]"></div>
  </div>

  
  <div class="w-full md:w-1/2 flex flex-col items-center justify-center p-6 md:p-12">
    <Section id={i18n.PAGES.HOME.INTRO_SECTION.ID} className="text-center">
      <Typography
        tag="h2"
        type="black"
        className="mx-auto mb-6 text-wrap font-semibold"
        text={i18n.PAGES.HOME.INTRO_SECTION.TITLE_2}
      />

      <div class="flex flex-col md:flex-row gap-10 mt-6 mb-12 justify-center items-center">
        <div>
          <h3 class="text-5xl font-bold strong">+15 <span class="text-black text-2xl">years</span></h3>
          <p class="text-gray-500 text-md font-semibold">of experience</p>
        </div>
        <div>
          <h3 class="text-5xl font-bold strong">35 <span class="text-black text-2xl">countries</span></h3>
          <p class="text-gray-500 text-md font-semibold">– Presence –</p>
        </div>
      </div>

      <h3 class="text-5xl font-bold strong">+4,000 <span class="text-black text-2xl">padel court</span></h3>
      <p class="text-gray-500 text-md font-semibold">– Worldwide –</p>
    </Section>
  </div>
</div>

<style>
  .strong {
    color: rgb(49, 175, 213);
  }
</style>
