---
import Button from "@/shared/components/Button.astro";
import Typography from "@/shared/components/ui/Typography.astro";

interface Props {
  video: string;
  subtitle: string;
  title: string;
  text: string;
  buttonUrl: string;
  buttonText: string;
  buttonTitle: string;
}

const { video, subtitle, title, text, buttonUrl, buttonText, buttonTitle } = Astro.props;

function getTipeFromVideo() {
  const videoExtension = video.split(".").pop();
  if (videoExtension === "mp4") {
    return "video/mp4";
  }
  if (videoExtension === "webm") {
    return "video/webm";
  }
  return "video/mp4";
}

const type = getTipeFromVideo();
---

<div class="flex flex-col md:flex-row bg-white">
  
  <div class="w-full md:w-1/2 px-4 md:px-12 py-12">
    {title && (
      <Typography
        tag="h2"
        type="black"
        className="text-center font-bold mb-12"
        text={title}
      />
    )}
    {text && (
      <Typography
        tag="div"
        type="black"
        className="text-center px-4 mb-12"
        text={text}
        responsive
      />
    )}
    <div class="flex flex-cols-3 mx-auto justify-center gap-16 mb-12">
      <img src="/public/Strength.png" />
      <img src="/public/High Technology.png" />
      <img src="/public/Durability.png" />
    </div>
    <div class="text-center">
      {buttonUrl && buttonText ? (
        <Button
          target="_self"
          url={buttonUrl}
          title={buttonTitle}
          color="black"
        >
          {buttonText}
        </Button>
      ) : null}
    </div>
  </div>

 
  <div class="relative w-full md:w-1/2 flex items-center justify-center mt-12 mb-12 ml-0 md:ml-12">
    
    <div class="bg-gradient-to-br from-[#315A75] via-[#151a36] to-[#151a36] w-full h-[250px] md:w-[800px] md:h-[550px] z-0"></div>

   
    <video
      autoplay
      loop
      muted
      playsinline
      preload="none"
      class="absolute w-[90%] h-[250px] md:left-[-40px] md:w-[700px] md:h-[450px] object-cover object-top brightness-50 z-10"
    >
      <source src={video} type={type} />
    </video>
  </div>
</div>
