---
import { getI18N } from "@/shared/i18n";
// import CourtItem from "@/shared/components/CourtItem.astro";
import Section from '@/shared/components/Section.astro';
import CarouselImages from '@/shared/components/CarouselImages';
import ArticleCard from '@/shared/components/ArticleCard.astro';
import { type CourtItem } from '@/types/types'

const { language } = Astro.props
const i18n = getI18N({ language })

const courts = [{
  title: i18n.COURTS.COURT1.TITLE,
  description: i18n.COURTS.COURT1.LITTLE_DESCRIPTION,
  url: i18n.COURTS.COURT1.URL.href,
  label: i18n.COURTS.COURT1.URL.label,
  images: i18n.COURTS.COURT1.HOME_IMAGES,
}, {
  title: i18n.COURTS.COURT2.TITLE,
  description: i18n.COURTS.COURT2.DESCRIPTION,
  url: i18n.COURTS.COURT2.URL,
  label: "More about Panoramic Flow court",
  images: i18n.COURTS.COURT2.IMAGES,
}, {
  title: i18n.COURTS.COURT3.TITLE,
  description: i18n.COURTS.COURT3.DESCRIPTION,
  url: i18n.COURTS.COURT3.URL,
  label: "More about Panoramic court",
  images: i18n.COURTS.COURT3.HOME_IMAGES,
}, {
  title: i18n.COURTS.COURT4.TITLE,
  description: i18n.COURTS.COURT4.DESCRIPTION,
  url: i18n.COURTS.COURT4.URL,
  label: "More about Club court",
  images: i18n.COURTS.COURT4.IMAGES,
}, {
  title: i18n.COURTS.COURT5.TITLE,
  description: i18n.COURTS.COURT5.DESCRIPTION,
  url: i18n.COURTS.COURT5.URL,
  label: "More about Club Plus court",
  images: i18n.COURTS.COURT5.IMAGES,
}, {
  title: i18n.COURTS.COURT6.TITLE,
  description: i18n.COURTS.COURT6.DESCRIPTION,
  url: i18n.COURTS.COURT6.URL,
  label: "More about Force 80 court",
  images: i18n.COURTS.COURT6.IMAGES,
}, {
  title: i18n.COURTS.COURT7.TITLE,
  description: i18n.COURTS.COURT7.DESCRIPTION,
  url: i18n.COURTS.COURT7.URL,
  label: "More about Single court",
  images: i18n.COURTS.COURT7.IMAGES,
}, {
  title: i18n.COURTS.COURT8.TITLE,
  description: i18n.COURTS.COURT8.DESCRIPTION,
  url: i18n.COURTS.COURT8.URL,
  label: "More about Mini court",
  images: i18n.COURTS.COURT8.IMAGES,
}] as CourtItem[]
---

<Section id={i18n.ROUTES.COURTS.ID} heading={i18n.COURTS.TITLE} subheading={i18n.COURTS.SUBTITLE} className="max-w-none relative">
  <div class="absolute bg-pattern top-0 bottom-0 -z-10 w-full left-0 opacity-5 border-t border-primary" />
  {
    courts.map(({title, description, images, url, label}, index) => (<ArticleCard
      buttonUrl={url}
      buttonText={label}
      title={title}
      description={description}
      className="mb-4 max-w-[1280px]"
    >
      <div class="flex gap-4" slot="body">
        <CarouselImages client:only images={images} />
      </div>
    </ArticleCard>))
  }
</Section>