---
import Section from "@/shared/components/Section.astro";
import Typography from "@/shared/components/ui/Typography.astro"

import { getI18N } from "../../i18n";
import LogoWhiteUK from "../logos/LogoWhiteUK.astro";

const { language } = Astro.props
const i18n = getI18N({ language })
---

<Section id={i18n.PAGES.HOME.INTRO_SECTION_UK.ID} className="text-center">
  <Typography tag="h2" className="mx-auto mb-10 text-wrap font-semibold" text={i18n.PAGES.HOME.INTRO_SECTION_UK.TITLE} />
  <div class="flex flex-col md:flex-row gap-2">
    <div class="flex-1">
      <Typography tag="div" className="max-w-[60ch] mx-auto" text={i18n.PAGES.HOME.INTRO_SECTION_UK.DESCRIPTION} />
      <div class="p-4 rounded-xl bg-black/75 border border-primary">
        <Typography tag="h3" text={i18n.PAGES.HOME.INTRO_SECTION_UK.EMAIL_CONTACT_TITLE} className="mb-8 font-thin" responsive type="primary" />
        <div class="flex flex-col gap-2">
          <div class="flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 1 0-2.636 6.364M16.5 12V8.25" />
            </svg>
            <Typography tag="p" size="small" className="text-left" text={i18n.PAGES.HOME.INTRO_SECTION_UK.SALES_EMAIL} />
          </div>
        </div>
      </div>
    </div>
    <div class="flex-1">
      <img src="/porticoSportUK_home.webp" alt="Portico sport uk" />
    </div>
  </div>
</Section>
