---
import Section from "@/shared/components/Section.astro";
import Typography from "@/shared/components/ui/Typography.astro"
import Faqs from "@/shared/components/ui/Faqs.astro"
import Button from '@/shared/components/Button.astro';

interface Props {
  
  language: string;
  urlButton?: string;
  urlText?: string;
  buttonTitle?: string;
}
import { getI18N } from "../../i18n";


const { language, items, title, subtitle, urlButton, urlText, buttonTitle } = Astro.props
const i18n = getI18N({ language })
---

<Section id={i18n.PAGES.HOME.FAQS_SECTION.ID} className="text-center"
  heading2 = {title || i18n.PAGES.HOME.FAQS_SECTION.TITLE} 
subheading ={subtitle || i18n.PAGES.HOME.FAQS_SECTION.SUBTITLE} >  
<Faqs items={items} />
<div class="hidden md:flex justify-center items-center px-4">
  <p class="font-bold text-5xl rotate-90">></p>  </div>
{urlButton && urlText ? (
  <div class="text-center mx-auto pt-6">
    <Button url={urlButton} target="_self" title={buttonTitle}>
      {urlText}
    </Button>
  </div>
) : null}
</Section>

