---
import Button from '@/shared/components/Button.astro';
import Typography from "@/shared/components/ui/Typography.astro"

interface Props {
  video: string;
  subtitle: string;
  title: string;
  text: string;
  buttonUrl: string;
  buttonText: string;
}

const { video, subtitle, title, text, buttonUrl, buttonText } = Astro.props;

function getTipeFromVideo() {
  const videoExtension = video.split(".").pop();
  if (videoExtension === "mp4") {
    return "video/mp4";
  }
  if (videoExtension === "webm") {
    return "video/webm";
  }
  return "video/mp4";
}

const type = getTipeFromVideo();
---

<section
  class="relative w-full h-[600px] lg:h-[800px]"
>
  <div
    class="absolute inset-0 h-full justify-center z-10 m-auto flex flex-col items-center w-full"
  >
    <slot>
      <div
        class="absolute z-10 animate-fade-up flex justify-center items-center gap-4 md:gap-8 flex-col"
      >
        {
          subtitle && (<Typography tag="p" className="text-center px-4 mb-0" text={subtitle} />)
        }
        {
          title && (<Typography tag="h2" className="flex items-center gap-5 lg:gap-20 px-4 text-center font-bold" text={title} />)
        }
        {
          text && (<Typography tag="div" className="text-center px-4 mb-0 max-w-[60ch]" text={text} responsive />)
        }
        {
          buttonUrl && buttonText ? (
            <Button
              target="_self"
              url={buttonUrl}
            >
              {buttonText}
            </Button>
          ) : null
        }
      </div>
    </slot>

    <video
      autoplay
      loop
      muted
      playsinline
      id="main-video"
      preload="metadata"
      class="video hidden h-full w-full object-cover object-top animate-duration-[2s] animate-ease-in-out brightness-50"
    >
      <source src={video} type={type} />
    </video>
  </div>
  <video
    class="video hidden absolute -bottom-48 -z-40 blur-3xl animate-duration-[2s] animate-ease-in-out brightness-50"
    autoplay
    loop
    muted
    preload="metadata"
  >
    <source src={video} type={type} />
  </video>
  <video
    class="video hidden absolute -top-20 -z-40 blur-3xl animate-duration-[2s] animate-ease-in-out brightness-50 w-full"
    autoplay
    loop
    muted
    preload="metadata"
  >
    <source src={video} type={type} />
  </video>
  <slot name="bottom" />
</section>