---
import { getI18N } from "@/shared/i18n";
import Section from "@/shared/components/Section.astro";
import Typography from "@/shared/components/ui/Typography.astro";
import ContactForm from "@/shared/components/forms/ContactForm.astro";

interface Props {
  id?: string;
  language: string;
  bgImage: string;
  image?: string;
  subject?: string;
  sendText?: string;
  hiddenSubject?: boolean;
  title?: string;
  description?: string;
}

const { language, bgImage, image, subject, hiddenSubject, title, description, sendText, id } = Astro.props
const i18n = getI18N({ language })
---

<Section id={id || i18n.CONTACT_FORM.ID} className="relative flex justify-center items-center flex-col max-w-none">
  <img aria-hidden="true" src={bgImage} alt="Contact background" loading="lazy" class="w-full h-full object-cover absolute max-w-[1800px] mx-auto blur-3xl" />
  <img src={bgImage} alt="Contact background" loading="lazy" class="w-full h-full object-cover absolute max-w-[1800px] mx-auto" />
  <div class="w-full rounded-xl border-primary border bg-black/50 p-6 md:p-12 lg:p-20 flex flex-col-reverse lg:flex-row gap-8 max-w-[1240px] relative">
    <ContactForm language={language} sendText={sendText} subject={subject} hiddenSubject />
    <div class="flex-1">
      <Typography tag="h2" className="pb-2 uppercase" text={title || i18n.CONTACT_FORM.TITLE} type="primary" responsive />
      <Typography tag="div" text={description || i18n.CONTACT_FORM.DESCRIPTION} responsive className="mb-4" />
    </div>
    {
      image && <img src={image} loading="lazy" alt="hexagon court" class="-bottom-10 w-[500px] aspect-video -right-12 absolute hidden lg:block" />
    }
  </div>
</Section>
