---
import { getI18N } from "@/shared/i18n";
// import CourtItem from "@/shared/components/CourtItem.astro";
import Section from '@/shared/components/Section.astro';
import CarouselImages from '@/shared/components/CarouselImages';
import ArticleCard from '@/shared/components/ArticleCard.astro';
import { type CourtItem } from '@/types/types'

const { language } = Astro.props
const i18n = getI18N({ language })

const courts = [{
  title: i18n.PAGES.COURTS.COURT1.TITLE,
  description: i18n.PAGES.COURTS.COURT1.HOME_DESCRIPTION,
  url: i18n.PAGES.COURTS.COURT1.ROUTE.URL,
  label: i18n.PAGES.COURTS.COURT1.ROUTE.LABEL,
  images: i18n.PAGES.COURTS.COURT1.HOME_IMAGES,
}, {
  title: i18n.PAGES.COURTS.COURT2.TITLE,
  description: i18n.PAGES.COURTS.COURT2.HOME_DESCRIPTION,
  url: i18n.PAGES.COURTS.COURT2.ROUTE.URL,
  label: i18n.PAGES.COURTS.COURT2.ROUTE.LABEL,
  images: i18n.PAGES.COURTS.COURT2.HOME_IMAGES,
}, {
  title: i18n.PAGES.COURTS.COURT3.TITLE,
  description: i18n.PAGES.COURTS.COURT3.HOME_DESCRIPTION,
  url: i18n.PAGES.COURTS.COURT3.ROUTE.URL,
  label: i18n.PAGES.COURTS.COURT3.ROUTE.LABEL,
  images: i18n.PAGES.COURTS.COURT3.HOME_IMAGES,
}, {
  title: i18n.PAGES.COURTS.COURT4.TITLE,
  description: i18n.PAGES.COURTS.COURT4.HOME_DESCRIPTION,
  url: i18n.PAGES.COURTS.COURT4.ROUTE.URL,
  label: i18n.PAGES.COURTS.COURT4.ROUTE.LABEL,
  images: i18n.PAGES.COURTS.COURT4.HOME_IMAGES,
}, {
  title: i18n.PAGES.COURTS.COURT5.TITLE,
  description: i18n.PAGES.COURTS.COURT5.HOME_DESCRIPTION,
  url: i18n.PAGES.COURTS.COURT5.ROUTE.URL,
  label: i18n.PAGES.COURTS.COURT5.ROUTE.LABEL,
  images: i18n.PAGES.COURTS.COURT5.HOME_IMAGES,
}, {
  title: i18n.PAGES.COURTS.COURT6.TITLE,
  description: i18n.PAGES.COURTS.COURT6.HOME_DESCRIPTION,
  url: i18n.PAGES.COURTS.COURT6.ROUTE.URL,
  label: i18n.PAGES.COURTS.COURT6.ROUTE.LABEL,
  images: i18n.PAGES.COURTS.COURT6.HOME_IMAGES,
}, {
  title: i18n.PAGES.COURTS.COURT7.TITLE,
  description: i18n.PAGES.COURTS.COURT7.HOME_DESCRIPTION,
  url: i18n.PAGES.COURTS.COURT7.ROUTE.URL,
  label: i18n.PAGES.COURTS.COURT7.ROUTE.LABEL,
  images: i18n.PAGES.COURTS.COURT7.HOME_IMAGES,
}, {
  title: i18n.PAGES.COURTS.COURT8.TITLE,
  description: i18n.PAGES.COURTS.COURT8.HOME_DESCRIPTION,
  url: i18n.PAGES.COURTS.COURT8.ROUTE.URL,
  label: i18n.PAGES.COURTS.COURT8.ROUTE.LABEL,
  images: i18n.PAGES.COURTS.COURT8.HOME_IMAGES,
}] as CourtItem[]
---

<Section id={i18n.PAGES.HOME.COURTS_SECTION.ID} heading={i18n.PAGES.HOME.COURTS_SECTION.TITLE} subheading={i18n.PAGES.HOME.COURTS_SECTION.DESCRIPTION} className="max-w-none relative">
  <div class="absolute bg-pattern top-0 bottom-0 -z-10 w-full left-0 opacity-5 border-t border-primary" />
  {
    courts.map(({title, description, images, url, label}, index) => (<ArticleCard
      buttonUrl={url}
      buttonText={label}
      title={title}
      description={description}
      className="mb-4 max-w-[1280px]"
    >
      <div class="flex gap-4" slot="body">
        <CarouselImages client:only images={images} />
      </div>
    </ArticleCard>))
  }
</Section>