---
import { getI18N } from "@/shared/i18n";
import Section from "@/shared/components/Section.astro";
import ContactForm from "@/shared/components/forms/ContactForm";

interface Props {
  language: string;
  bgImage: string;
  image: string;
  subject?: string;
  hiddenSubject?: boolean;
}

const { language, bgImage, image, subject, hiddenSubject } = Astro.props
const i18n = getI18N({ language })
// heading={i18n.CONTACT_TITLE} subheading={i18n.CONTACT_SUBTITLE}
---

<Section id={i18n.ROUTES.CONTACT.ID} className="relative flex justify-center items-center flex-col max-w-none">
  <img aria-hidden="true" src={bgImage} alt="Contact background" loading="lazy" class="w-full h-full object-cover absolute max-w-[1800px] mx-auto blur-3xl" />
  <img src={bgImage} alt="Contact background" loading="lazy" class="w-full h-full object-cover absolute max-w-[1800px] mx-auto" />
  <div class="w-full rounded-xl border-primary border bg-black/50 p-6 md:p-12 lg:p-20 flex flex-col-reverse lg:flex-row gap-8 max-w-[1240px] relative">
    <ContactForm client:visible language={language} subject={subject} hiddenSubject={hiddenSubject} />
    <div class="flex-1">
      <h2 class="text-3xl text-primary pb-2">{i18n.CONTACT_TITLE}</h2>
      <p>{i18n.CONTACT_SUBTITLE}</p>
    </div>
    <img src={image} loading="lazy" alt="hexagon court" class="-bottom-10 w-[500px] aspect-video -right-12 absolute hidden lg:block" />
  </div>
</Section>
