---
import Button from '@/shared/components/Button.astro';

interface Props {
  video: string;
  subtitle: string;
  title: string;
  text: string;
  buttonUrl: string;
  buttonText: string;
}

const { video, subtitle, title, text, buttonUrl, buttonText } = Astro.props;

function getTipeFromVideo() {
  const videoExtension = video.split(".").pop();
  if (videoExtension === "mp4") {
    return "video/mp4";
  }
  if (videoExtension === "webm") {
    return "video/webm";
  }
  return "video/mp4";
}

const type = getTipeFromVideo();
---

<div
  class="relative w-full max-w-[100vw] h-[500px]"
>
  <div
    class="absolute inset-0 h-full justify-center z-10 m-auto flex flex-col items-center w-full"
  >
    <slot>
      <section
        class="absolute z-10 animate-fade-up flex justify-center items-center gap-8 flex-col"
      >
        {
          subtitle ? (
            <p class="subtitle text-xl lg:text-2xl text-center font-jura px-4 text-balance mb-0">
              {subtitle}
            </p>
          ) : null
        }
        {
          title ? (
            <h2 class="flex items-center gap-5 text-xl md:text-2xl lg:gap-20 lg:text-3xl font-tomaso px-4 text-center text-balance">
              {title}
            </h2>
          ) : null
        }
        {
          text ? (
          <p class="subtitle text-xl lg:text-2xl text-center font-jura px-4 text-balance mb-0">
              {text}
            </p>
          ) : null
        }
        {
          buttonUrl && buttonText ? (
            <Button
              target="_self"
              url={buttonUrl}
            >
              {buttonText}
            </Button>
          ) : null
        }
      </section>
    </slot>

    <video
      autoplay
      loop
      muted
      playsinline
      id="main-video"
      preload="metadata"
      class="video hidden h-full w-full object-cover object-top animate-duration-[2s] animate-ease-in-out brightness-50"
    >
      <source src={video} type={type} />
    </video>
  </div>
  <video
    class="video hidden absolute -bottom-48 -z-40 blur-3xl animate-duration-[2s] animate-ease-in-out brightness-50"
    autoplay
    loop
    muted
    preload="metadata"
  >
    <source src={video} type={type} />
  </video>
  <video
    class="video hidden absolute -top-20 -z-40 blur-3xl animate-duration-[2s] animate-ease-in-out brightness-50 w-full"
    autoplay
    loop
    muted
    preload="metadata"
  >
    <source src={video} type={type} />
  </video>
  <slot name="bottom" />
</div>