---
import { getI18N } from "@/shared/i18n";
import CardItem from "./CardItem.astro";
import Section from "@/shared/components/Section.astro";

const { heading, posts, subheading, language } = Astro.props;
const i18n = getI18N({ language })

interface Props {
  heading?: string;
  subheading?: string;
  posts: any[];
  language: string;
}

const transformedDate = (date: string) => new Date(date).toLocaleDateString(i18n.LOCALE_DATE, {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
})

---

<Section
  heading={heading || i18n.PAGES.NEWS.LIST.TITLE}
  subheading={subheading || i18n.PAGES.NEWS.LIST.SUBTITLE}
>
  <div class="list flex flex-col gap-16 lg:flex-row lg:gap-8">
    {
      posts?.length ? posts.map((post) => (
        <CardItem
          title={post.title.rendered}
          excerpt={post.excerpt.rendered.replace(/<[^>]+>|\\n|\[&hellip;\]/g, '')}
          image={
            post._embedded?.["wp:featuredmedia"]?.[0]?.["media_details"]?.["sizes"]?.["medium"]?.["source_url"]
          }
          link={`${i18n.PAGES.NEWS.ROUTE.URL}/${post.slug}`}
          date={transformedDate(post.date)}
          description={post.description}
        />
      )) : null
    }
  </div>
</Section>

<style>
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  }
</style>
