---
import Section from "@/shared/components/Section.astro";
import Typography from '@/shared/components/ui/Typography.astro';
import { getI18N } from "@/shared/i18n/"


const { title, description, language, subtitle, image } = Astro.props;
const i18n = getI18N({ language })

const colors = {
  blue: "bg-blue-500 hover:bg-blue-700",
  red: "bg-red-500 hover:bg-red-700",
  green: "bg-green-800 hover:bg-green-900",
  violet: "bg-violet-500 hover:bg-violet-700",
  orange: "bg-orange-500 hover:bg-orange-700",
  black: "bg-black hover:bg-gray-900",
  clay: "bg-amber-800 hover:bg-amber-900",
  pink: "bg-pink-500 hover:bg-pink-700",
} as any;
---

<Section className="max-w-none border-b-4 bg-pi">
  <div class="flex flex-col lg:flex-row gap-8 max-w-[1400px] mx-auto">
    <div class="flex-col gap-4 flex-1 text-center">
      <Typography tag="h2" text={title} type="secondary" className="uppercase text-center font-bold" />
      <Typography tag="p" text={subtitle} type="primary" className="font-thin mb-12" />
      <Typography tag="div" text={description} type="primary" className="text-center" />
      <img src={image.src} alt={image.alt} class="aspect-video object-cover turf-image" />
    </div>
    <div class="flex flex-col gap-4 flex-1">
      {
        i18n.TURF_SECTION.MODELS.map((model) => (
          <div class="flex items-center flex-col justify-center">
            <Typography tag="h3" text={model.TITLE} type="primary" className="font-bold mb-4" />
            <Typography tag="p" text={model.DESCRIPTION} />
            <div class="flex gap-1 md:gap-4 justify-center items-center mb-4 max-w-[28rem] flex-wrap">
              {
                model.COLORS.map((item) => (
                  <button name={`${model.ID}_${item.color}`} class={`rounded-full w-20 md:w-24 ${colors[item.color]} border text-white text-center text-sm md:text-base px-2 md:px-4 py-1`}>
                    {item.name}
                  </button>
                ))
              }
            </div>
            <img loading="lazy" id={model.ID} class="turf-image" src={model.IMAGE} alt={model.TITLE} />
          </div>
        ))
      }
    </div>
  </div>
</Section>

<script>
  document.addEventListener('click', (e: any) => {
    if (e.target.tagName === 'BUTTON') {
      const { name } = e.target as HTMLButtonElement;
      const target = name.split('_')
      const id = `#${target[0]}`
      const color = target[1];
      const $imageTurf = document.querySelector(id)
      const $turf = document.querySelector('.turf-image');
      if (!$imageTurf || !$turf) return;
      $imageTurf.classList.remove('blue', 'violet', 'red', 'orange', 'green', 'clay', 'pink', 'black');
      $turf.classList.remove('blue', 'violet', 'red', 'orange', 'green', 'clay', 'pink', 'black');
      $imageTurf.classList.add(color);
      $turf.classList.add(color);
    }
  });
</script>

<style>
  .blue {
    filter:hue-rotate(0deg);
  }
  .violet {
    filter:hue-rotate(40deg);
  }
  .red {
    filter:hue-rotate(120deg);
  }
  .orange {
    filter:hue-rotate(150deg);
  }
  .green {
    filter:hue-rotate(280deg);
  }
  .clay {
    filter:hue-rotate(176deg);
  }
  .pink {
    filter:hue-rotate(100deg);
  }
  .black {
    filter:contrast(1.5) grayscale(1);;
  }
</style>
