---
import Layout from "@/layouts/Layout.astro"
import Video from "@/components/Video.astro"
import Intro from "@/components/Intro.astro"
import Bento from "@/components/Bento.astro"
import PreFooter from "@/components/PreFooter.astro"
import Contact from "@/components/Contact.astro"
import Courts from "@/components/Courts.astro"
import projectsGallery from "@/data/projects-gallery.json";
import { getI18N, getCurrentLocale } from "@/i18n"
import Gallery from "../Gallery.astro"
import NewsList from "../NewsList.astro"
import GraphicProcess from "../GraphicProcess.astro"
import InfiniteScroll from "../InfiniteScroll.astro"

const { url, site } = Astro
const i18n = getI18N({ host: url.host })
const currentLocale = getCurrentLocale({host: url.host})
// const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const response = await fetch("https://porticosport.com/wp-json/wp/v2/posts?per_page=4&_embed")
const posts = await response.json();
---

<Layout title={i18n.SEO_TITLE} description={i18n.SEO_DESCRIPTION} currentLocale={currentLocale}>
  <link
    rel="preload"
    href="/fonts/jura.woff2"
    as="font"
    type="font/woff2"
    crossorigin
    slot="preload"
  />

  <Video />
  <span class="url opacity-0">{new URL(Astro.request.url)}</span>
  <!-- <span class="canonical-url opacity-0">{new URL(canonicalURL)}</span> -->

  <main>
    <Intro />
    <GraphicProcess />
    <InfiniteScroll />
    <Courts />
    <Bento />
    <Gallery
      id={i18n.ROUTES.PROJECTS.ID}
      heading={i18n.INFO.PROJECTS_TITLE}
      subheading={i18n.INFO.PROJECTS_TEXT}
      photos={projectsGallery}
      path="projects"
      loadMoreText={i18n.INFO.BUTTON_TEXT}
    />
    <PreFooter />
    <NewsList posts={posts} />
    <Contact />
  </main>

</Layout>