---
import Layout from "@/layouts/Layout.astro";
import HeroContainer from "@/components/HeroContainer.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import { getI18N } from "@/i18n";
import Gallery from "../Gallery.astro";
import canopiesGallery from "@/data/canopies-gallery.json";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

interface Props {
  hidePagination?: boolean;
}
---

<Layout title={i18n.CANOPIES.TITLE} description={i18n.CANOPIES.SUBTITLE}>
  <HeroContainer
    img="/canopies-portico.webp"
    imgAlt={i18n.NEWS.TITLE_ALT}
    heading={i18n.CANOPIES.TITLE}
  />
  <main class="pb-24 flex flex-col">
    <Breadcrumb
      crumbs={[
        { label: i18n.ROUTES.HOME.LABEL, href: i18n.ROUTES.HOME.URL },
        { label: i18n.ROUTES.CANOPIES.LABEL, href: i18n.ROUTES.CANOPIES.URL },
      ]}
    />
    <Gallery
      heading={i18n.CANOPIES.GALLERY.HEADING}
      subheading={i18n.CANOPIES.GALLERY.SUBHEADING}
      path="canopies"
      offset={9}
      photos={canopiesGallery}
      loadMoreText={i18n.CANOPIES.GALLERY.BUTTON_TEXT}
    />
  </main>
</Layout>
