---
import { getCurrentLocale, getI18N } from "@/shared/i18n"

import Layout from "@/shared/layouts/Layout.astro"

import CookieTypeDescriptionItem from "@/shared/components/cookies/CookieTitleDescriptionItem.astro"
import CookieDescriptionLinkItem from "@/shared/components/cookies/CookieDescriptionLinkItem.astro"
import CookieLink from "@/shared/components/cookies/CookieLink.astro"

interface Props {
  language: string
}

const { language } = Astro.props
const i18n = getI18N({ language })
const currentLocale = getCurrentLocale({ language })

const H1_STYLES =
  "mx-auto mt-16 mb-4 text-wrap text-3xl font-semibold tracking-wide uppercase"
const H2_STYLES =
  "mx-auto mt-16 mb-4 text-wrap text-2xl font-semibold tracking-wide uppercase text-balance"
---

<Layout title={i18n.PAGES.COOKIES.SEO_TITLE} description={i18n.PAGES.COOKIES.SEO_DESCRIPTION} robots="no-index,nofollow" currentLocale={currentLocale} language={language}>
  <main>
    <section
      class="max-w-5xl mx-auto my-24 text-pretty px-6 text-left text-lg leading-relaxed sm:px-20"
    >
      <h1 class=`${H1_STYLES}`>
      {i18n.PAGES.COOKIES.POLICIES.TITLE}
    </h1>
    <p>
      {i18n.PAGES.COOKIES.POLICIES.DESCRIPTION_1}
    </p>
    <p>
      {i18n.PAGES.COOKIES.POLICIES.DESCRIPTION_2}
    </p>
    <p>
      {i18n.PAGES.COOKIES.POLICIES.DESCRIPTION_3}
    </p>

    <h2 class=`${H2_STYLES}`>
      {i18n.PAGES.COOKIES.WHAT_IS.TITLE}
    </h2>
    <p>
      {i18n.PAGES.COOKIES.WHAT_IS.DESCRIPTION_1}
    </p>
    <p>
      {i18n.PAGES.COOKIES.WHAT_IS.DESCRIPTION_2}
    </p>
    <p>
      {i18n.PAGES.COOKIES.WHAT_IS.DESCRIPTION_3}
    </p>
    <p>
      {i18n.PAGES.COOKIES.WHAT_IS.DESCRIPTION_4}
    </p>
    
    <h2 class=`${H2_STYLES}`>
      {i18n.PAGES.COOKIES.TYPES.TITLE}
    </h2>
    <CookieTypeDescriptionItem
      title={i18n.PAGES.COOKIES.TYPES.DESCRIPTION_1_TITLE}
      />
      <p>
        {i18n.PAGES.COOKIES.TYPES.DESCRIPTION_1}
      </p>
      <p>
        {i18n.PAGES.COOKIES.TYPES.DESCRIPTION_2}
      </p>
    
    <CookieTypeDescriptionItem
      title={i18n.PAGES.COOKIES.TYPES.DESCRIPTION_3_TITLE}
    />
    <p>
      {i18n.PAGES.COOKIES.TYPES.DESCRIPTION_3}
    </p>
    <p>
      {i18n.PAGES.COOKIES.TYPES.DESCRIPTION_4}
    </p>
    <CookieTypeDescriptionItem
      title={i18n.PAGES.COOKIES.TYPES.DESCRIPTION_5_TITLE} 
    />
    <p>{i18n.PAGES.COOKIES.TYPES.DESCRIPTION_5} </p>
    <p>{i18n.PAGES.COOKIES.TYPES.DESCRIPTION_6} </p>
    <p>{i18n.PAGES.COOKIES.TYPES.DESCRIPTION_7} </p>
    <p>{i18n.PAGES.COOKIES.TYPES.DESCRIPTION_8} </p>
    <p>{i18n.PAGES.COOKIES.TYPES.DESCRIPTION_9} </p>
    <p>{i18n.PAGES.COOKIES.TYPES.DESCRIPTION_10} </p>

    <h2 class=`${H2_STYLES}`>
      {i18n.PAGES.COOKIES.SITE_COOKIES.TITLE}
    </h2>
    <p> 
      {i18n.PAGES.COOKIES.SITE_COOKIES.DESCRIPTION_1}
    </p>
    <table class="w-fulltext-left rtl:text-right">
      <thead class="uppercase">
        <tr>
          <th class="px-6 py-3">{i18n.PAGES.COOKIES.SITE_COOKIES.THEAD_NAME}</th>
          <th class="px-6 py-3">{i18n.PAGES.COOKIES.SITE_COOKIES.THEAD_TYPE}</th
          >
          <th class="px-6 py-3">{i18n.PAGES.COOKIES.SITE_COOKIES.THEAD_PURPOSE}</th
          >
          
        </tr>
      </thead>
      <tbody>
        {
          i18n.PAGES.COOKIES.SITE_COOKIES.ANALYTICS.map(
            ({ NAME, TYPE, OBJECTIVE, OBJECTIVE_URL, URL_TITLE }) => (
              <tr class="odd:bg-[#007aff]">
                <td class="px-6 py-3">{NAME}</td>
                <td class="px-6 py-3">{TYPE}</td>
                <td class="px-6 py-3">
                  <p>
                    {OBJECTIVE}
                    {OBJECTIVE_URL.length && (
                      <CookieLink
                        url={OBJECTIVE_URL}
                        text={URL_TITLE}
                      />
                    )}
                  </p>
                </td>
              </tr>
            )
          )
        }
      </tbody>
    </table>

    <h2 class=`${H2_STYLES}`>
      {i18n.PAGES.COOKIES.BLOCK.TITLE}
    </h2>
    <p>
      {i18n.PAGES.COOKIES.BLOCK.DESCRIPTION_1}
    </p>
    <p>
      {i18n.PAGES.COOKIES.BLOCK.DESCRIPTION_2}
    </p>
    <p>
      {i18n.PAGES.COOKIES.BLOCK.DESCRIPTION_3}
    </p>
    
    <CookieDescriptionLinkItem
    description={i18n.PAGES.COOKIES.BLOCK.DESCRIPTION_4}
    url={i18n.PAGES.COOKIES.BLOCK.DESCRIPTION_4_URL}
    />
    
    <p>
      {i18n.PAGES.COOKIES.BLOCK.DESCRIPTION_5}
    </p>
    <CookieDescriptionLinkItem
      description={i18n.PAGES.COOKIES.BLOCK.DESCRIPTION_6}
      url={i18n.PAGES.COOKIES.BLOCK.DESCRIPTION_6_URL}
    />
    <CookieDescriptionLinkItem
      description={i18n.PAGES.COOKIES.BLOCK.DESCRIPTION_7}
      url={i18n.PAGES.COOKIES.BLOCK.DESCRIPTION_7_URL}
    />
    <CookieDescriptionLinkItem
      description={i18n.PAGES.COOKIES.BLOCK.DESCRIPTION_8}
      url={i18n.PAGES.COOKIES.BLOCK.DESCRIPTION_8_URL}
    />
    <CookieDescriptionLinkItem
      description={i18n.PAGES.COOKIES.BLOCK.DESCRIPTION_9}
      url={i18n.PAGES.COOKIES.BLOCK.DESCRIPTION_9_URL}
    />
   
    <h2 class=`${H2_STYLES}`>
      {i18n.PAGES.COOKIES.DISABLE.TITLE}
    </h2>
    <p>
      {i18n.PAGES.COOKIES.DISABLE.DESCRIPTION_1}    
    </p>
    <p>
      {i18n.PAGES.COOKIES.DISABLE.DESCRIPTION_2}    
    </p>
    <p>
      {i18n.PAGES.COOKIES.DISABLE.DESCRIPTION_3}    
    </p>

    <h2 class=`${H2_STYLES}`>
      {i18n.PAGES.COOKIES.CHANGES.TITLE}
    </h2>
    <p>
      {i18n.PAGES.COOKIES.CHANGES.DESCRIPTION}
    </p>
    <h2 class=`${H2_STYLES}`>
      {i18n.PAGES.COOKIES.UPDATES.TITLE}
    </h2>
    <p>
      {i18n.PAGES.COOKIES.UPDATES.DESCRIPTION}
    </p>
    <p>
      {i18n.PAGES.COOKIES.UPDATES.DESCRIPTION_1}
    </p>
    </section>
  </main>
</Layout>
