---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import HeaderMx from "../components/HeaderMx.astro";
import Seo from "@/shared/components/seo/Seo.astro";
import Footer from "@/shared/components/Footer.astro";
import CookieConsent from "@/shared/components/CookieConsent/CookieConsent.astro";
import "@fontsource-variable/onest";
import "@fontsource/prompt/100.css";
import "@fontsource/prompt/300.css";
import "@fontsource/prompt/500.css";
import ScrollSvgAnimation from "@/shared/components/ScrollSvgAnimation.astro";
import GoogleTagManager from "@/shared/components/analytics/GoogleTagManager.astro";

interface Props {
  description: string;
  title: string;
  currentLocale: string;
  language: string;
  bgImage?: string;
  bgClass?: string;
  showScrollImage?: boolean;
  ogImage?: string;
  keywords?: string;
robots?: string;
contactForm?: boolean;
schema?: string
news?: boolean;
}

const { news, schema, description, title, currentLocale, contactForm , keywords ,language, robots ,bgImage, bgClass, showScrollImage, ogImage } = Astro.props;
const category = 70;
const response = await fetch(
    `https://portico.porticosport.com/wp-json/wp/v2/posts?categories=${category}&per_page=100&_embed`
  );
  const posts = await response.json();
---

<!doctype html>
<html lang={currentLocale}>
  <head>
<meta name="google-site-verification" content="bVDtzyF2kbTOYRSyeZL7gLBAwqaWQ9f7P_5tN1V1GRw" />
    <Seo title={title} description={description} robots={robots} currentLocale={currentLocale} image={ogImage} keywords = {keywords} language={language} />
{news && 
  <link
    rel="alternate" type="application/rss+xml" href="https://portico.porticosport.com/feed/"
  />

}   
{schema && (
      <script type="application/ld+json" set:html={JSON.stringify(schema)} />
    )}   
<GoogleTagManager id="GTM-K2ZJ388S" />
    <slot name="preload" />
    <ViewTransitions />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-582LSF2WJY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-582LSF2WJY');
</script>
  </head>

  <body>
    {
      bgImage && (
        <img
          aria-hidden="true"
          src={bgImage}
          alt="Background image"
          class={`fixed w-full min-h-[40rem] lg:aspect-video mx-auto object-cover -z-10 ${bgClass}`}
        />
      )
    }
<Header language={language} />
    {
      showScrollImage && <ScrollSvgAnimation className="absolute right-10 top-1/2 -translate-y-1/2 z-20" width="30px" />
    }
    <slot />
    <CookieConsent />
 {
contactForm? <Footer language={language} contactForm/> :
    <Footer language={language} />
    }

<style is:global>
  :root {
    color-scheme: dark;
  }

  h1 {
    font-family: "Prompt", system-ui, sans-serif;
    font-weight: 500;
  }

  h2 {
    font-family: "Prompt", system-ui, sans-serif;
    font-weight: 300;
  }

  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    @apply bg-background;
    scroll-behavior: smooth;
  }


  p {
    
    line-height: 1.4;
    margin-bottom: 1em;
    letter-spacing: 0.5px;
  }

  p strong {
    color: rgb(0, 171, 218, 0.973);
    font-weight: 700;
  }

  .section-description p {
    margin-bottom: 0;
  }

  .text__glowing {
    transition: text-shadow 0.3s ease;
  }
  
  .text__glowing:hover {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #fff,
      0 0 80px #fff,
      0 0 120px #fff;
  }
  .text__glowing__header {
    color:#151a36;
    transition: text-shadow 0.3s ease;
  }
  @media (max-width: 1024px) {
    .text__glowing__header {
      color:white;
    }
  }

  a.text__min_glowing {
    transition: text-shadow 0.3s ease;
  }

  a.text__min_glowing:hover {
    text-shadow: 0 0 10px #fff;
  }

  .bg-pattern {
    --s: 86px; /* control the size */
    --a: 60deg; /* control the angle */

    --g: #0000 50%, #b7e4fd 51% 30%, #0000 31%;
    background:
      linear-gradient(var(--a), var(--g)),
      linear-gradient(calc(-1 * var(--a)), var(--g)) #151a36;
    background-size: var(--s) calc(tan(var(--a)) * var(--s));
  }

  #header-nav {
   background-color: white;
  }

  .bg-main::before {
    content: "";
    @apply w-full;
    @apply h-20;
    background: linear-gradient(
      180deg,
      rgba(21, 26, 54, 0) 0%,
      rgba(21, 26, 54, 0.7) 34%,
      rgba(21, 26, 54, 1) 68%,
      rgba(21, 26, 54, 1) 100%
    );
    position: absolute;
    @apply -top-20;
  }

  @media (min-width: 1024px) {
    .bg-main::before {
      @apply h-64;
      @apply -top-64;
    }
  }

  .map {
    background: radial-gradient(circle, rgba(21,26,52,1) 30%, rgba(60,160,215,1) 70%);
  }

  .ol-unselectable.ol-layers {
    background: radial-gradient(circle, rgba(183,228,253,1) 0%, rgba(148,187,233,.5) 100%);
  }

  .ol-viewport {
    background: radial-gradient(circle, rgb(46 49 48) 35%, rgb(1 25 21) 65%)
  }

  @keyframes blur {
    to {
      box-shadow:
        0px 5px 50px -5px rgba(0, 0, 0, 0.1),
        0px 0px 0 1px rgba(0, 0, 0, 0.3);
      background: white;
      backdrop-filter: blur(10px);
    }
  }
</style>
  </body>
</html>
